<div class="container mx-auto text-sm pt-4 pb-3 pl-8 border-white border-l-2 text-white">
  <a class="text-cararra" href="#">Oakland</a> → <a class="text-cararra" href="#">Officials</a> → <span class="font-bold">City Attorney</span>
</div>
