{% if limit is not defined %}
  {% set limit = 6 %}
{% endif %}
{% if linkDisable is not defined %}
  {% set linkDisable = false %}
{% endif %}
{% include '_partials/_extras/_link-disable' %}
<div class="mt-8 bg-cararra relative z-0">
  <div class="container mx-auto p-8 py-12">
    <div class="flex flex-col sm:flex-row items-center">
      <h2 class="my-0 sm:flex-1">Card Filter</h2>
    {% if not linkDisable %}<a href="#" class="btn btn-bright mt-4 sm:mt-0">Link Off »</a>{% endif %}
    </div>
    <div class="card-grid filter-grid mt-8">
      {% set filters = ["Elections", "Apply for a Passport", "Public Records", "KTOP TV 10", "Statement of Economic Interest/Form 700", "City Council Meeting Schedule", "City Council Meeting Information"] %}
      {% for item in 0.. limit - 1 %}
        <a href="#" class="card-grid-button">{{ filters[item] }}</a>
      {% endfor %}
    </div>
  </div>
</div>

