<footer class="bg-shark text-white leading-loose text-base">
  <div class="container mx-auto p-8">
    <div class="sm:flex flex-wrap">
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="list-reset my-0">
          <li><a href="#" class="text-white">Elected Officials</a></li>
          <li><a href="#" class="text-white">Departments</a></li>
          <li><a href="#" class="text-white">Boards & Commissions</a></li>
          <li><a href="#" class="text-white">Staff Directory</a></li>
          <li><a href="#" class="text-white">City Jobs</a></li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="list-reset my-0">
          <li><a href="#" class="text-white">Services</a></li>
          <li><a href="#" class="text-white">News & Updates</a></li>
          <li><a href="#" class="text-white">Events</a></li>
          <li><a href="#" class="text-white">Documents</a></li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="list-reset my-0">
          <li><a href="#" class="text-white">#OaklandLoveLife</a></li>
          <li><a href="#" class="text-white">Oakland Library</a></li>
          <li><a href="#" class="text-white">Visit Oakland</a></li>
          <li><a href="#" class="text-white">Oakland Museum</a></li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4 leading-normal">
        <div class="mb-4">
          <b>For Maintenance Requests</b><br>
          311 or 510-615-5566<br>
          Relay Service 711
        </div>
        <div>
          <b>Oakland City Hall</b><br>
          1 Frank H. Ogawa Plaza<br>
          Oakland, CA 94612
        </div>
      </div>
    </div>
  </div>
</footer>
