  <div class="banner relative text-white text-xl leading-loose">
    <div class="container mx-auto py-32 p-8">
      <img class="absolute pin object-fit-cover w-full h-full" src="https://s3-us-west-1.amazonaws.com/beta.oaklandca.gov/hero_background.jpg" alt="Photo: Grammy winner Fantastic Negrito courtesy of Oakland First Fridays">
      <h1 class="font-bold">Welcome to Oakland</h1>
      <p>The official website for the City of Oakland.<br>
      <b><a class="text-white" href="#">#OaklandLoveLife</a></b></p>
      <form action="">
        <div class="sm:flex max-w-md">
          <input type="search" class="w-full mb-4 sm:flex-1 sm:mb-0 p-4 border-shark border" placeholder="How can we help?" value="">
          <button type="submit" class="w-full sm:w-auto btn border-l-0 border-shark border">Search</button>
        </div>
      </form>
    </div>
  </div>
