{% if not craft.app.request.segments() %}
  {% set bgColor = 'bg-transparent' %}
  {% js %}
    window.onscroll = function changeClass(){
      var navBar = document.getElementById('nav-bar');
      var scrollPosY = window.pageYOffset | document.body.scrollTop;
      if(scrollPosY > 1) {
        navBar.classList.add('bg-shark');
        navBar.classList.remove('bg-transparent');
      } else if(scrollPosY <= 100) {
        navBar.classList.add('bg-transparent');
        navBar.classList.remove('bg-shark');
      }
    }
  {% endjs %}
{% else %}
  {% set bgColor = 'bg-shark' %}
{% endif %}

<div class="{{ bgColor }} text-white fixed w-full z-50 trans trans-fast h-40" id="nav-bar">
  <div class="container mx-auto px-8">
    <nav class="flex items-center justify-between">
      <div>
        <a href="/" class="block pt-16 pl-8 mb-8 sm:border-l-2 sm:border-white text-white hover:text-apple fill-current trans-fast">
          {{ craft.inlin.er('/assets/img/logo-oakland.svg') | replace('<svg ', '<svg class="h-12 sm:h-16" ') | raw }}
        </a>
      </div>
      <button class="btn flex lg:hidden mr-8">Menu</button>
      <ul class="list-reset hidden uppercase lg:flex">
        <li class="mr-8"><a href="#" class="text-white hover:text-apple trans-fast">News</a></li>
        <li class="mr-8"><a href="#" class="text-white hover:text-apple trans-fast">Services</a></li>
        <li class="mr-8"><a href="#" class="text-white hover:text-apple trans-fast">Departments</a></li>
        <li class="mr-8"><a href="#" class="text-white hover:text-apple trans-fast">Events</a></li>
        <li><a href="#" class="text-white hover:text-apple trans-fast">Officials</a></li>
      </ul>
    </nav>
  </div>
</div>