{% set defaultButtonUrl = "/news/related-to/" ~ entry.slug %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}

{# Since Craft doesn’t let us pass an array of ids by default into its "not" id parameter, we have to use the following setup #}
{% set idsToExclude = ['and'] %}
{% for entry in entry.pageNews.ids() ?? '' %}
  {% set idsToExclude = idsToExclude|merge([entry]) %}
{% endfor %}
{% set idsToExcludeString = idsToExclude | join(', not ') %}

{% if relatedNews | length %}
  <section class="bg-rotate">
    <a id="page-news" class="anchor-link"></a>
    <div class="container mx-auto p-8 py-16">
      {% include '_partials/_elements/_module-header' with {
        headerText: pageNewsHeaderText ?? "News",
        linkText: pageNewsLinkText ?? "Related News",
        linkUrl: pageNewsLinkUrl ?? defaultButtonUrl
      } %}
      <div class="card-grid vertical-cards mt-8">
        {% for entry in entry.pageNews.all() %}
          {% include '_partials/_elements/_vertical-cards' with {
            title: entry.title,
            url: entry.url,
            icon: 'newspaper',
            photo: entry.newsImage.one,
            byline: entry.postDate.format("M d, Y"),
            body: entry.summary
          } %}
        {% endfor %}
        {% for entry in relatedNews.id(idsToExcludeString).limit(4 - idsToExclude | length).all() %}
          {% include '_partials/_elements/_vertical-cards' with {
            title: entry.title,
            url: entry.url,
            icon: 'newspaper',
            photo: entry.newsImage.one,
            byline: entry.postDate.format("M d, Y"),
            body: entry.summary
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
