{% set defaultButtonUrl = "/documents/related-to/" ~ entry.section.handle ~ "/" ~ entry.slug %}
{% if entry.pageDocuments | length %}
  <section class="mb-16">
    <a class="anchor-link" id="page-documents"></a>
    {% include '_partials/_elements/_module-header.twig' with {
      headerText: pageDocumentsHeaderText ?? "Documents",
    } %}
    <div class="mt-8 card-grid">
      {% for entry in entry.pageDocuments.all() %}
        {% set isDoc = (entry.type == "documents") ? true : false %}
        {% include '_partials/_elements/_title-cards.twig' with {
          url: isDoc ? entry.documentFile.one.url : entry.url,
          target: isDoc ? "_blank" : "_self"
        } %}
      {% endfor %}
    </div>
    {% include "_partials/_elements/_module-readmore.twig" with {
      linkText: pageDocumentsLinkText ?? "Related Documents",
      linkUrl: pageDocumentsLinkUrl ?? defaultButtonUrl
    } %}
  </section>
{% endif %}
