{% set defaultButtonUrl = "/boards-commissions/related-to/"  ~ entry.section.handle ~ "/" ~ entry.slug %}
{% if entry.pageBoardsCommissions | length %}
  <section class="mb-16">
    <a class="anchor-link" id="page-boards"></a>
    {% include '_partials/_elements/_module-header.twig' with {
      headerText: pageBoardsHeaderText ?? "Related Boards & Commissions",
    } %}
    <div class="card-grid grid-equal-height mt-8">
      {% for entry in entry.pageBoardsCommissions.all() %}
        {% include '_partials/_elements/_title-cards.twig' %}
      {% endfor %}
    </div>
    {% include "_partials/_elements/_module-readmore.twig" with {
      linkText: pageBoardsLinkText ?? "Related Boards & Commissions",
      linkUrl: pageBoardsLinkUrl ?? defaultButtonUrl
    } %}
  </section>
{% endif %}
