{% set defaultButtonUrl = "/events/related-to/" ~ entry.section.handle ~ "/" ~ entry.slug %}
{% set options = {
  calendar: "events",
  limit: 3,
  rangeStart: now | date('Y-m-d'),
} %}
{% set events = craft.calendar.events(options).relatedTo(entry).all() %}
{% if events | length %}
  <section class="bg-rotate">
    <a class="anchor-link" id="page-events"></a>
    <div class="container mx-auto p-8 py-16">
      {% include '_partials/_elements/_module-header' with {
        headerText: pageEventsHeaderText ?? "Events",
        linkText: pageEventsLinkText ?? "Related Events",
        linkUrl: pageEventsLinkUrl ?? defaultButtonUrl
      } %}
      <div class="card-grid vertical-cards mt-8">
        {% for entry in events %}
          {% include '_partials/_elements/_vertical-cards' with {
            title: entry.title,
            url: entry.url,
            icon: 'calendar',
            photo: entry.eventImage.one,
            byline: entry.startDate.format("M d, Y"),
            body: entry.body | chop(limit=50, unit='w', append='…')
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
