{% if entry.timeline.exists() %}
  <section class="bg-rotate">
    <a class="anchor-link" id="page-timeline"></a>
    <div class="container p-8 py-16">
      {% include '_partials/_elements/_module-header' with {
        headerText: headerText ?? "Timeline"
      } %}
      <dl class="timeline-grid">
        {% for block in entry.timeline.all() %}
          <dt>{{ block.milestoneName }}</dt>
          <dd>{{ block.milestoneDates }}</dd>
        {% endfor %}
      </dl>
    </div>
  </section>
{% endif %}
