{% set defaultButtonUrl = "/meetings/related-to/" ~ entry.section.handle ~ '/' ~ entry.slug %}
{% set options = {
  calendar: "meetings",
  limit: 3,
  rangeStart: now | date('Y-m-d'),
} %}

{% set pastOptions = {
  calendar: "meetings",
  limit: 3,
  rangeEnd: now | date('Y-m-d'),
} %}

{% set pastEvents = craft.calendar.events(pastOptions).relatedTo(entry).all() %}
{% set relatedEvents = craft.calendar.events(options).relatedTo(entry).all() %}

{% if pastEvents | length or relatedEvents | length %}
  <section class="bg-rotate">
    <a class="anchor-link" id="page-meetings"></a>
    <div class="container">
      {% include '_partials/_elements/_module-header' with {
        headerText: pageMeetingsHeaderText ?? "Meetings",
      } %}
      {% if relatedEvents | length %}
        <div class="card-grid vertical-cards mt-8">
          {% for entry in relatedEvents %}
            {% include '_partials/_elements/_vertical-cards' with {
              title: entry.title,
              url: entry.url,
              icon: 'calendar',
              photo: entry.eventImage.one,
              byline: entry.startDate.format("M d, Y"),
              body: entry.body | chop(limit=40, unit='w', append='…')
            } %}
          {% endfor %}
        </div>
      {% endif %}
      {% include "_partials/_elements/_module-readmore.twig" with {
        linkText: pageMeetingsLinkText ?? "All Meetings",
        linkUrl: pageMeetingsLinkUrl ?? defaultButtonUrl
      } %}
    </div>
  </section>
{% endif %}
