{% set defaultButtonUrl = "/meetings/related-to/" ~ entry.section.handle ~ '/' ~ entry.slug %}

{% set options = {
  calendar: "meetings",
  limit: 3,
  rangeStart: now | date('Y-m-d'),
} %}

{% set pastOptions = {
  calendar: "meetings",
  limit: 3,
  rangeEnd: now | date('Y-m-d'),
  order: "startDate desc"
} %}

{% set pastEvents = craft.calendar.events(pastOptions).relatedTo(entry).all() %}
{% set relatedEvents = craft.calendar.events(options).relatedTo(entry).all() %}

{% if pastEvents | length or relatedEvents | length %}
  <section class="bg-rotate">
    <a class="anchor-link" id="page-meetings"></a>
    <div class="container">
      {% include '_partials/_elements/_module-header.twig' with {
        headerText: pageMeetingsHeaderText ?? "Meetings",
      } %}
      <div class="card-grid vertical-cards mt-8">
        {% if relatedEvents | length %}
          {% for entry in relatedEvents %}
            {% include '_partials/_elements/_vertical-cards.twig' with {
              title: entry.title,
              url: entry.url,
              icon: 'calendar',
              photo: entry.eventImage.one,
              byline: entry.startDate.format("M d, Y"),
              body: entry.body | chop(limit=40, unit='w', append='…')
            } %}
          {% endfor %}
        {% else %}
          {% for entry in pastEvents %}
            {% include '_partials/_elements/_vertical-cards.twig' with {
              title: entry.title,
              url: entry.url,
              icon: 'calendar',
              photo: entry.eventImage.one,
              byline: entry.startDate.format("M d, Y"),
              body: entry.body | chop(limit=40, unit='w', append='…')
            } %}
          {% endfor %}
        {% endif %}
      </div>
      {% include "_partials/_elements/_module-readmore.twig" with {
        linkText: pageMeetingsLinkText ?? "All Meetings",
        linkUrl: pageMeetingsLinkUrl ?? defaultButtonUrl
      } %}
    </div>
  </section>
{% endif %}
