<section class="mt-12 bg-white">
  <a class="anchor-link" id="page-about"></a>
  {% include '_partials/_elements/_module-header.twig' with {
    headerText: pageAboutHeaderText ?? "About",
  } %}
  <div class="mt-8 sm:flex">
    {% if entry.teams | length %}
      <div class="sm:w-1/4 sm:mr-8">
        {% for entry in entry.teams.all() %}
          <a href="{{ entry.url }}" class="block mb-4 text-center btn btn-sm">{{ entry.title }}</a>
        {% endfor %}
      </div>
    {% endif %}
    <div class="sm:flex-1">
      <div class="body-text">
        {{ entry.about }}
      </div>
    </div>
  </div>
</section>
