{% if entry.pageNews | length %}
  <section class="bg-rotate">
    <div class="container mx-auto p-8 py-16">
      {% include '_partials/_elements/_module-header' with {
        "headerText": "News",
        "linkText": "All News",
        "linkUrl": "/news"
      } %}
      <div class="card-grid vertical-cards mt-8">
        {% for entry in entry.pageNews.all() %}
          {% include '_partials/_elements/_vertical-cards' with {
            title: entry.title,
            url: entry.url,
            icon: 'newspaper',
            photo: entry.newsImage.one,
            byline: entry.postDate.format("M d, Y"),
            body: entry.summary
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
