{# Since Craft doesn’t let us pass an array of ids by default into its "not" id parameter, we have to use the following setup #}
{% set idsToExclude = ['not'] %}
{% for entry in entry.pageNews.ids() ?? '' %}
  {% set idsToExclude = idsToExclude|merge([entry]) %}
{% endfor %}
{% set idsToExcludeString = idsToExclude | join(', ') %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}
{% set excludedNews = craft.entries.section('news').relatedTo(entry).id(idsToExcludeString) %}
{% set defaultButtonUrl = "" %}

{% if excludedNews | length %}
  {% set defaultButtonUrl = "/news/related-to/"  ~ entry.section.handle ~ "/" ~ entry.slug %}
{% endif %}

{% if relatedNews | length %}
  <section class="bg-rotate">
    <a class="anchor-link" id="page-news"></a>
    <div class="container">
      {% include '_partials/_elements/_module-header' with {
        headerText: pageNewsHeaderText ?? "News",
      } %}
      <div class="card-grid vertical-cards mt-8">
        {% for entry in entry.pageNews.all() %}
          {% include '_partials/_elements/_vertical-cards' with {
            title: entry.title,
            url: entry.url,
            icon: 'newspaper',
            photo: entry.newsImage.one,
            byline: entry.postDate.format("M d, Y"),
            body: entry.summary
          } %}
        {% endfor %}
      </div>
      {% include "_partials/_elements/_module-readmore.twig" with {
        linkText: pageNewsLinkText ?? "Related News",
        linkUrl: pageNewsLinkUrl ?? defaultButtonUrl
      } %}
    </div>
  </section>
{% endif %}
