{% set options = {
  calendar: "meetings",
  limit: 3,
  rangeStart: now | date('Y-m-d'),
} %}
{% set relatedEvents = craft.calendar.events(options).relatedTo(entry).all() %}

{% if relatedEvents | length %}
  <section class="bg-rotate">
    <a id="page-events" class="anchor-link"></a>
    <div class="container mx-auto p-8 py-16">
      {% include '_partials/_elements/_module-header' with {
        headerText: pageMeetingsHeaderText ?? "Meetings",
        linkText: pageMeetingsLinkText ?? "Related Meetings",
        linkUrl: pageMeetingsLinkUrl ?? "/meetings/related-to/" ~ entry.slug
      } %}
      <div class="card-grid vertical-cards mt-8">
        {% for entry in relatedEvents %}
          {% include '_partials/_elements/_vertical-cards' with {
            title: entry.title,
            url: entry.url,
            icon: 'calendar',
            photo: entry.eventImage.one,
            byline: entry.startDate.format("M d, Y"),
            body: entry.body | chop(limit=50, unit='w', append='…')
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
