{% extends '_layouts/_banner-with-nav.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  ['banner',
  'teams']
) %}

{% set relatedContent = [
  ['events', 'calendar'],
  ['news', 'entries'],
  ['services', 'entries'],
  ['topics', 'entries'],
  ['projects', 'entries'],
  ['documents', 'entries']
] %}

{% if entry.type == "officialsRedirect" %}{{ {% redirect entry.redirectUrl %}{% endif %}

{% set relatedEvents = craft.calendar.events.relatedTo(entry) %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}

{% set contactState = entry.addresses | length or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}
{% set contentBuilder = entry.contentBuilder | length %}
{% set leadership = true %}
{% set contact = contactState %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    bannerTitle: entry.groupHeadTitle ~ ' ' ~ entry.groupHeadName,
    breadCrumbLinks: [
      {
        title: 'City Officials',
        link: '/officials'
      }
    ],
    bannerImage: entry.banner | length ? {
      position: entry.banner[0].getFocalPoint('asCss'),
      src: entry.banner[0].url,
      alt: entry.banner[0].title ?? entry.banner[0].filename
    } : false
  } %}
  <div class="container pt-0">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <div class="flex-1">
        {% include '_partials/_content-builder/_tool.twig' %}
        {% include '_partials/_page-leadership.twig' with {
          pageLeadershipHeaderText: 'About the ' ~ entry.title,
        } %}
        {% include '_partials/_page-location.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
