{% extends '_layout.twig' %}

{% block content %}
  <div class="banner leading-normal">
    <div class="container">
      <h1 class="text-xxxl md:text-xxxxl font-bold mb-0">{{ entry.title | replace({' Index': ''}) }}</h1>
      {% if entry.leadIn %}
        <p class="mt-8 mb-0">{{ entry.leadIn }}</p>
      {% endif %}
    </div>
  </div>

  <section class="bg-white">
    <div class="container">
      {% include '_partials/_elements/_module-header.twig' with {
        headerText: "City Officials",
        linkText: "View Staff Directory",
        linkUrl: "/staff/",
      } %}
      <div class="card-grid grid-equal-height profile-cards mt-12">
        {% for entry in craft.entries.section('officials').all() %}
          {% include '_partials/_elements/_profile-cards.twig' with {
            photo: entry.portrait.one,
            name: entry.groupHeadName,
            jobTitle: entry.title,
            url: entry.redirectUrl ?? entry.url ?? ''
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
