{% extends '_layout.twig' %}

{% block content %}
  <div class="leading-normal banner">
    <div class="container">
      <h1 class="mb-0 font-bold text-xxxl md:text-xxxxl">{{ entry.title | replace({' Index': ''}) }}</h1>
      {% if entry.leadIn %}
        <p class="mt-8 mb-0">{{ entry.leadIn }}</p>
      {% endif %}
    </div>
  </div>

  <section class="bg-white">
    <div class="container">
      {% include '_partials/_elements/_module-header.twig' with {
        headerText: "City Officials",
        linkText: "View Staff Directory",
        linkUrl: "/staff/",
      } %}
      <div class="mt-12 card-grid grid-equal-height profile-cards">
        {% for entry in craft.entries.section('officials').all() %}
          {% include '_partials/_elements/_profile-cards.twig' with {
            photo: entry.portrait.one,
            name: entry.groupHeadName,
            jobTitle: entry.title,
            url: entry.redirectUrl ?? entry.url ?? '',
            icon: "user"
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
