{% extends '_layouts/_instant-search-index' %}

{% set algoliaIndex = craft.app.config.env ~ '_projects' %}
{% set entry = craft.entries.section('projectsIndex').one %}

{% set hitsTemplate = '<article class="py-8 sm:py-12 border-celeste border-b-2">' ~
  '<h3 class="text-xl md:text-2xl my-0 {{#leadIn}}mt-0 mb-3 md:mb-6{{/leadIn}}">' ~
    '<a href="{{ url }}">' ~
      '{{ _highlightResult.title.value }}' ~
    '</a>' ~
  '</h3>' ~
  '{{#leadIn}}' ~
    '<p class="text-base text-shark md:text-lg my-2 md:my-4">' ~
      '{{ _highlightResult.leadIn.value }}' ~
    '</p>' ~
  '{{/leadIn}}' ~
  '{{^leadIn}}' ~
    '<p class="text-base text-shark md:text-lg my-2 md:my-4">' ~
      '{{ _snippetResult.about.value }}' ~
    '</p>' ~
  '{{/leadIn}}' ~
'</article>' %}
