{% extends '_layout.twig' %}

{% set document = entry.documentFile %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Documents',
        link: '/documents'
      }
    ],
    leadIn: 'Publish Date: ' ~ entry.postDate | date('M, d Y')
  } %}
  <section class="bg-white relative z-0">
    <div class="container">
      {% if document.exists() %}
        <div>
          <a class="btn" href="{{ document.one.url }}">Download File</a>
        </div>
      {% endif %}
      {% if entry.documentType.exists() %}
        <p class="font-bold">
          {% for type in entry.documentType.all() %}
            {{ type.title }}
            {% if not loop.last %}
              |
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      <div class="text-xl">
        {{ entry.summary }}
      </div>
    </div>
  </section>
{% endblock %}
