{% extends '_layout' %}
{% set entry = craft.entries.section('documentsIndex').one %}
{% set relatedEntry = null %}
{% if craft.app.request.getSegment(2) == 'related-to' %}
  {% set urlSlug = craft.app.request.getSegment(3) %}
  {% set relatedEntry = craft.entries.slug(urlSlug).first() %}
{% endif %}

{% block content %}
  {% include '_partials/_page-banners' with {
    bannerTitle: entry.title | replace(' Index', ''),
    breadCrumbs: true,
  } %}
  {% include '_partials/_elements/_search-bar' %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      {% paginate craft.entries.section('documents').relatedTo(relatedEntry).limit(25).orderBy('title') as pageInfo, pageEntries %}
      {% include '_partials/_elements/_pagination' %}
      {% for entry in pageEntries %}
        <article>
          <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        </article>
      {% endfor %}
      {% include '_partials/_elements/_pagination' %}
    </div>
  </section>
{% endblock %}
