{% extends '_layout' %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true
  } %}

  {# Begin Departments #}
  <section class="bg-cararra relative z-0">
    <div class="container p-8 py-16">
      <div class="card-grid grid-equal-height">
        {% for entry in craft.entries.section('departments').officialDepartment(true).orderBy('title asc').all() %}
          {% include '_partials/_elements/_title-cards' with {
            url: entry.redirectUrl ?? entry.url
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
  {# End Departments #}
{% endblock %}
