<div class="overflow-x-scroll {% if not loop.last %}mb-12{% endif %}">
	<table class="w-full max-w-full text-sm md:text-base">
		<thead>
			<tr>
				<th class=""></th>
				<th class="px-2 py-4 bg-green-700 border-transparent hover:bg-green-600"><a href="#" class="block h-full text-white hover:text-underline hover:text-white">Construction Contracts</a></th>
				<th class="px-2 py-4 bg-green-700 border-transparent hover:bg-green-600"><a href="#" class="block h-full text-white hover:text-underline hover:text-white">Professional Services Contracts</a></th>
				<th class="px-2 py-4 bg-green-700 border-transparent hover:bg-green-600"><a href="#" class="block h-full text-white hover:text-underline hover:text-white">On-call Contracts</a></th>
			</tr>
		</thead>
		<tbody>
      <tr class="text-sm italic text-center text-gray-700">
        <td></td>
        <td class="py-2">General Public</td>
        <td class="py-2">General Public</td>
        <td class="py-2">Approved, on-call vendors</td>
      </tr>
			<tr>
				<td class="p-2 font-bold bg-cool-gray-100">Register</td>
				<td class="p-2 text-center bg-cool-gray-100">iSupplier</td>
				<td class="p-2 text-center bg-cool-gray-100">iSupplier</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="p-2 font-bold bg-cool-gray-100">Submit</td>
				<td class="p-2 text-center bg-cool-gray-100">Project Bid</td>
				<td class="p-2 text-center bg-cool-gray-100">RFP</td>
				<td class="p-2 text-center bg-cool-gray-100">RFP</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
			</tr>
			<tr>
				<td class="p-2 font-bold bg-cool-gray-100">Reviewed &<br> Awarded By</td>
				<td class="p-2 text-center bg-cool-gray-100">City Clerk’s Office</td>
				<td class="p-2 text-center bg-cool-gray-100">CCD</td>
				<td class="p-2 text-center bg-cool-gray-100">Project Manager / CCD</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
				<td rowspan="3" class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
			</tr>
			<tr>
				<td class="p-2 font-bold bg-cool-gray-100">Contract Execution</td>
				<td class="p-2 text-center bg-cool-gray-100">Submit contract documents</td>
				<td class="p-2 text-center bg-cool-gray-100">Submit contract documents</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
			</tr>
			<tr>
				<td class="p-2 font-bold bg-cool-gray-100">Confirmation</td>
				<td class="p-2 text-center bg-cool-gray-100">Receive award email</td>
				<td class="p-2 text-center bg-cool-gray-100">Receive award email</td>
				<td class="p-2 text-center bg-cool-gray-100">Task order issued by PM</td>
			</tr>
		</tbody>
	</table>
</div>
