<div class="md:flex md:flex-row -mx-4">
  <a href="https://www.oaklandrecycles.com/bulky-pickup-services/" class="block bg-green-800 hover:bg-green-600 trans trans-fast rounded-sm md:w-1/3 my-4 mx-4 md:my-0 shadow-btn">
    <figure class="p-4 h-30 flex justify-center items-center text-white">
      {{ craft.inlin.er('/assets/img/icon-dumptruck.svg') | replace('<svg ', '<svg class="fill-current h-full w-full" ') | raw }}
    </figure>
    <div class="text-gray-800 p-4 bg-white">
      <h3 class="font-bold text-center text-xxl my-0">Schedule<br>
      <span class="font-normal text-lg font-body">bulky waste pick-up</span></h3>
    </div>
  </a>
  <a href="https://www.oaklandca.gov/services/oak311" class="block bg-green-800 hover:bg-green-600 trans trans-fast rounded-sm md:w-1/3 my-4 mx-4 md:my-0 shadow-btn">
    <figure class="p-4 h-30 flex justify-center items-center text-white">
      {{ craft.inlin.er('/assets/img/icon-dialog.svg') | replace('<svg ', '<svg class="fill-current h-full w-full" ') | raw }}
    </figure>
    <div class="text-gray-800 p-4 bg-white">
      <h3 class="font-bold text-center text-xxl my-0">Report Dumping<br>
      <span class="font-normal text-lg font-body">to OAK 311</span></h3>
    </div>
  </a>
  <a href="https://www.oaklandca.gov/services/volunteer-opportunities" class="block bg-green-800 hover:bg-green-600 trans trans-fast rounded-sm md:w-1/3 my-4 mx-4 md:my-0 shadow-btn">
    <figure class="p-4 h-30 flex justify-center items-center text-white">
      {{ craft.inlin.er('/assets/img/icon-volunteer.svg') | replace('<svg ', '<svg class="fill-current h-full w-full" ') | raw }}
    </figure>
    <div class="text-gray-800 p-4 bg-white">
      <h3 class="font-bold text-center text-xxl my-0">Volunteer<br>
      <span class="font-normal text-lg font-body">in Oakland</span></h3>
    </div>
  </a>
</div>
