<div class="overflow-x-scroll {% if not loop.last %}mb-12{% endif %}">
	<table class="w-full max-w-full text-sm md:text-base">
		<thead>
			<tr>
				<th></th>
				<th class="pb-4">Process to become an on-call vendor</th>
			</tr>
		</thead>
		<tbody>
      <tr class="bg-cool-gray-100">
        <td class="py-2 pl-2 pr-1 font-bold">Requirements</td>
        <td class="py-2 pl-1 pr-2 text-center">(List or link to list of requirements)</td>
      </tr>
			<tr>
				<td></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
			</tr>
      <tr class="bg-cool-gray-100">
        <td class="py-2 pl-2 pr-1 font-bold">Submit</td>
        <td class="py-2 pl-1 pr-2 text-center">SOQ to CCD</td>
      </tr>
			<tr>
				<td></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
			</tr>
      <tr class="bg-cool-gray-100">
        <td class="py-2 pl-2 pr-1 font-bold">Contract Execution</td>
        <td class="py-2 pl-1 pr-2 text-center">Submit contract documents</td>
      </tr>
			<tr>
				<td></td>
				<td class="text-center"><img class="block w-8 mx-auto" src="https://assets.codepen.io/746001/streamline-icon-keyboard-arrow-down%40140x140.png" /></td>
			</tr>
      <tr class="bg-cool-gray-100">
        <td class="py-2 pl-2 pr-1 font-bold">Confirm</td>
        <td class="py-2 pl-1 pr-2 text-center"><div class="max-w-xs mx-auto">Once on the list, vendors will be contacted by CCD for on-call project opportunities</div></td>
      </tr>
		</tbody>
	</table>
</div>
