{% extends '_layouts/_banner-with-nav.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'addresses',
    'contentBuilder',
    'portrait',
    'teams',
    'phoneNumbers',
    'openHours',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:entries.documentFile',
    'contentBuilder.smallEntryLinks:entries',
    'contentBuilder.smallEntryLinks:entries.documentFile',
    'contentBuilder.officials.officials,'
  ]
) %}

{% set relatedEvents = craft.calendar.events.relatedTo(entry) %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}
{% set relatedMeetings = craft.calendar.events.relatedTo(entry) %}

{% set contactState = entry.addresses | length or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}
{% set contentBuilder = entry.contentBuilder | length %}
{% set about = entry.about | length %}
{% set contact = contactState %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Topics',
        link: '/topics'
      }
    ],
    bannerImage: entry.banner | length ? {
      position: entry.banner[0].getFocalPoint('asCss'),
      src: entry.banner[0].url,
      alt: entry.banner[0].title ?? entry.banner[0].filename
    } : false
  } %}
  <div class="container pt-0">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <div class="flex-1">
        {% include '_partials/_content-builder/_tool.twig' %}
        {% if about %}
          {% include '_partials/_page-about.twig' %}
        {% endif %}
        {% include '_partials/_page-location.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
