{% extends '_layouts/_banner-with-nav.twig' %}

{% set relatedEvents = craft.calendar.events.relatedTo(entry) %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}
{% set relatedMeetings = craft.calendar.events.relatedTo(entry) %}

{% set contactState = entry.addresses | length or (entry.address | length and not entry.address.isEmpty) or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}
{% set contentBuilder = entry.contentBuilder | length %}
{% set about = entry.about | length %}
{% set contact = contactState %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Topics',
        link: '/topics'
      }
    ],
  } %}
  <div class="container pt-0">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" with {
            navMenu: {
      'services': entry.pageServices.exists(),
      'resources': entry.pageResources.exists(),
      'documents': entry.pageDocuments.exists(),
      'projects': entry.pageProjects.exists(),
      'topics': entry.pageTopics.exists(),
      'meetings': relatedMeetings.exists(),
      'events': relatedEvents.exists(),
      'news': relatedNews.exists(),
      'relatedPages': false,
      'about': about,
      'contact': contactState
    }

      } %}
      <div class="w-full">
        {% if contentBuilder %}
          {% include '_partials/_content-builder/_tool.twig' %}
        {% else %}
          {% include '_partials/_page-services.twig' with {
            pageServicesLinkText: 'More Services'
          } %}
          {% include '_partials/_page-resources.twig' %}
          {% include '_partials/_page-documents.twig' %}
          {% include '_partials/_page-projects.twig' %}
          {% include '_partials/_page-topics.twig' %}
          {% include '_partials/_page-events.twig' %}
          {% include '_partials/_page-meetings.twig' %}
          {% include '_partials/_page-news.twig' %}
        {% endif %}
        {% if about %}
          {% include '_partials/_page-about.twig' %}
        {% endif %}
        {% include '_partials/_page-location.twig' %}
      </div>
    </div>  
  </div>
{% endblock %}
