{% set eventIds = block.entries.ids() %}
{% set relatedEvents = "" %}

{% if block.allowAutofill %}
  {% set options = {
    calendar: calendarHandle ?? '',
    limit: 3 - eventIds | length,
    rangeStart: now | date('Y-m-d'),
  } %}

  {% set relatedEvents = craft.calendar.events(options).relatedTo(entry).ids() %}
  {% set eventIds = eventIds | merge(relatedEvents) %}
{% endif %}

<div class="{% if not loop.last %}mb-12{% endif %}">
  {% include "_partials/_content-builder/_elements/_heading.twig" %}
  <div class="card-grid vertical-cards">
    {% for eventId in eventIds %}
      {% set entry = craft.calendar.events.id(eventId).one %}
      {% include '_partials/_elements/_vertical-cards.twig' with {
        title: entry.title,
        url: entry.url,
        icon: 'calendar',
        photo: entry.eventImage.one,
        byline: entry.startDate.format("M d, Y"),
        body: entry.body | chop(limit=40, unit='w', append='…'),
        photoHide: block.hideThumbnails,
        summaryHide: block.hideSummary
      } %}
    {% endfor %}
  </div>
</div>
