{% set eventIds = block.entries.ids() %}
{% set relatedEvents = "" %}

{% set defaultButtonUrl = "/" ~ calendarHandle ~ "/related-to/" ~ entry.section.handle ~ '/' ~ entry.slug %}
{% set defaultButtonText = "All " ~ calendarHandle | capitalize %}

{% set options = {
  calendar: calendarHandle ?? '',
  limit: 3 - eventIds | length,
  rangeStart: now | date('Y-m-d'),
} %}

{% set pastOptions = {
  calendar: calendarHandle ?? '',
  limit: 3 - eventIds | length,
  rangeEnd: now | date('Y-m-d'),
  order: "startDate desc"
} %}

{% if block.allowAutofill %}
  {% set pastEvents = craft.calendar.events(pastOptions).relatedTo(entry).ids() %}
  {% set relatedEvents = craft.calendar.events(options).relatedTo(entry).ids() %}

  {% if relatedEvents | length %}
    {% set eventIds = eventIds | merge(relatedEvents) %}
  {% else %}
    {% set eventIds = eventIds | merge(pastEvents) %}
  {% endif %}
{% endif %}

<div class="{% if not loop.last %}mb-12{% endif %}">
  {% include "_partials/_content-builder/_blocks/_elements/_heading.twig" %}
  <div class="card-grid vertical-cards">
    {% for eventId in eventIds %}
      {% set entry = craft.calendar.events.id(eventId).one %}
      {% include '_partials/_elements/_vertical-cards.twig' with {
        title: entry.title,
        url: entry.url,
        icon: 'calendar',
        photo: entry.eventImage.one,
        byline: entry.startDate.format("M d, Y"),
        body: entry.body | chop(limit=40, unit='w', append='…'),
        photoHide: block.hideThumbnails,
        summaryHide: block.hideSummary
      } %}
    {% endfor %}
  </div>
  {% if not block.hideReadMoreLink %}
    {% include "_partials/_elements/_module-readmore.twig" with {
      linkText: calLinkText ?? defaultButtonText,
      linkUrl: calLinkUrl ?? defaultButtonUrl
    } %}
  {% endif %}
</div>
