<div class="{% if not loop.last %}mb-12{% endif %}">
  {% include "_partials/_content-builder/_blocks/_elements/_heading.twig" %}
  {{ block.entriesDescription }}
  <div class="items-stretch card-grid">
    {% for entry in block.entries %}
      {% set isDoc = (entry.type == "documents") ? true : false %}
      {% include '_partials/_elements/_title-cards.twig' with {
        url: isDoc ? entry.documentFile[0].url : entry.url,
        target: isDoc ? "_blank" : "_self"
      } %}
    {% endfor %}
  </div>
</div>
