<div class="{% if not loop.last %}mb-12 {% endif %}body-text">
  {% include "_partials/_content-builder/_elements/_heading.twig" %}
  {{ block.entriesDescription }}
  <ul class="">
    {% for entry in block.entries.all() %}
      {% set isDoc = (entry.type == "documents") ? true : false %}
      {% set url = isDoc ? entry.documentFile.one.url : entry.redirectUrl ?? entry.url %}
      {% set target = isDoc ? "_blank" : "_self" %}
      <li class="my-2"><a href="{{ url }}" target="{{ target }}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>
</div>
