{% extends '_layouts/_banner-with-nav.twig' %}

{% set relatedContent = [
  ['events', 'calendar'],
  ['meetings', 'calendar'],
  ['news', 'entries'],
  ['services', 'entries'],
  ['resources', 'entries'],
  ['topics', 'entries'],
  ['projects', 'entries'],
  ['documents', 'entries']
] %}

{% set relatedMeetings = craft.calendar.events.relatedTo(entry) %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}

{% set contactState = entry.addresses | length or not entry.address.isEmpty or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}
{% set contentBuilder = entry.contentBuilder | length %}
{% set leadership = true %}
{% set contact = contactState %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Boards & Commissions',
        link: '/boards-commissions'
      }
    ],
  } %}
  <div class="container pt-0">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" with {
        navMenu: {
          'meetings': relatedMeetings.exists(),
          'documents': entry.pageDocuments.exists(),
          'projects': entry.pageProjects.exists(),
          'topics': entry.pageTopics.exists(),
          'services': entry.pageServices.exists(),
          'resources': entry.pageResources.exists(),
          'news': relatedNews.exists(),
          'relatedPages': true,
          'about': true,
          'contact': contactState
        }
      } %}
      <div class="w-full">
        {% if contentBuilder %}
          {% include '_partials/_content-builder/_tool.twig' %}
        {% else %}
          {% include '_partials/_page-meetings.twig' with {
            pageMeetingsLinkUrl: '/' ~ entry.uri ~ '/meetings',
            pageMeetingsLinkText: 'View All Meetings, Minutes & Agendas'
          } %}
          {% include '_partials/_page-documents.twig' %}
          {% include '_partials/_page-projects.twig' %}
          {% include '_partials/_page-topics.twig' %}
          {% include '_partials/_page-resources.twig' %}
          {% include '_partials/_page-services.twig' %}
          {% include '_partials/_page-news.twig' %}
        {% endif %}
        {% include "_partials/_page-related-content.twig" with {
          relatedContent : relatedContent
        } %}
        {% include '_partials/_page-about.twig' %}
        {% include '_partials/_page-location.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
