{% extends '_layouts/_banner-with-nav.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'addresses',
    'contentBuilder',
    'portrait',
    'teams',
    'phoneNumbers',
    'openHours',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:documentFile',
    'contentBuilder.officials.officials',
  ]
) %}

{% set relatedContent = [
  ['events', 'calendar'],
  ['meetings', 'calendar'],
  ['news', 'entries'],
  ['services', 'entries'],
  ['resources', 'entries'],
  ['topics', 'entries'],
  ['projects', 'entries'],
  ['documents', 'entries']
] %}

{% set contactState = entry.addresses | length or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Boards & Commissions',
        link: '/boards-commissions'
      }
    ],
    bannerImage: entry.banner | length ? {
      position: entry.banner[0].getFocalPoint('asCss'),
      src: entry.banner[0].url,
      alt: entry.banner[0].title ?? entry.banner[0].filename
    } : false
  } %}
  <div class="container pt-0">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <div class="w-full">
        {% include '_partials/_content-builder/_tool.twig' with {
          calLinkUrl: '/' ~ entry.uri ~ '/meetings',
          calLinkText: 'View All Meetings, Minutes & Agendas'
        } %}
        {% include "_partials/_page-related-content.twig" with {
          relatedContent : relatedContent
        } %}
        {% include '_partials/_page-about.twig' %}
        {% include '_partials/_page-location.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
