{% extends '_layouts/_banner-with-nav.twig' %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Services',
        link: '/services'
      }
    ],
  } %}
  <section class="bg-rotate">
    <div class="container mx-auto">
      <h2 class="my-0 text-xl md:text-2xl">Services</h2>
      <ul class="items-stretch card-grid card-grid-tight">
        {% set entries = craft.entries.section("services").limit(null).orderBy("title asc").relatedTo(category).all() %}
        {% nav entry in entries %}
          <li>
            <a class="block h-full p-5 bg-white border border-gray-800 rounded hover:bg-green-100" href="{{ entry.redirectUrl ?? entry.url ?? '' }}">
              <h3 class="mt-0 mb-4 text-lg font-normal text-gray-800 md:text-xl">{{ entry.title }}</h3>
            </a>
          </li>
        {% endnav %}
      </ul>
    </div>
  </section>
{% endblock %}
