{% extends '_layouts/_banner-with-nav.twig' %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
    ],
  } %}
  <div class="container mx-auto pt-0">
    <ul class="mt-0 card-grid card-grid-tight items-stretch">
      {% nav category in craft.categories
        .group("serviceTypes")
        .limit(null)
        .orderBy("title asc")
        .all()
      %}
        <li>
          <a class="block h-full rounded border-gray-800 border p-5 hover:bg-green-100" href="{{ category.url }}">
            <h2 class="mt-0 mb-4 text-lg md:text-xl lg:text-2xl text-gray-800">{{ category.title }}</h2>
            {{ category.summary | retcon('attr', 'p', { class: 'mt-4 mb-0 text-gray-800 text-sm md:text-base' }) }}
          </a>
        </li>
      {% endnav %}
    </ul>
  </div>
{% endblock %}
