{% extends '_layouts/_banner-with-nav.twig' %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: false,
    bannerImage: false
  } %}
  <div class="container pt-0 mx-auto">
    <ul class="items-stretch mt-0 card-grid card-grid-tight">
      {% nav category in craft.categories
        .group("serviceTypes")
        .limit(null)
        .orderBy("title asc")
        .all()
      %}
        <li>
          <a class="block h-full p-5 transition-all duration-75 bg-blue-100 rounded shadow text-cool-gray-800 hover:bg-blue-200 hover:text-cool-gray-900" href="{{ category.url }}">
            <h2 class="mt-0 mb-4 text-lg text-gray-800 md:text-xl lg:text-2xl">{{ category.title }}</h2>
            {{ category.summary | retcon('attr', 'p', { class: 'mt-4 mb-0 text-gray-800 text-sm md:text-base' }) }}
          </a>
        </li>
      {% endnav %}
    </ul>
  </div>
{% endblock %}
