{% extends '_layout' %}
{% set entry = craft.entries.section('volunteerIndex').one %}
{% set relatedEntry = null %}
{% if craft.app.request.getSegment(2) == 'related-to' %}
  {% set urlSlug = craft.app.request.getSegment(3) %}
  {% set relatedEntry = craft.entries.slug(urlSlug).one %}
{% endif %}

{% block content %}
  {% include '_partials/_page-banners' with {
    bannerTitle: entry.title | replace(' Index', ''),
    breadCrumbs: true,
  } %}
  {# {% include '_partials/_elements/_search-bar' with { searchSegment: "staff" } %} #}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      {% paginate craft.entries.section('volunteers').relatedTo(relatedEntry).limit(30).orderBy('title') as pageInfo, pageEntries %}
      {% include '_partials/_elements/_pagination' %}
      <div class="card-grid grid-equal-height profile-cards mt-12">
      {% for entry in pageEntries %}
        {% include '_partials/_elements/_profile-cards' with {
          photo: entry.portrait.one,
          name: entry.title,
          jobTitle: entry.jobTitle ?? '',
          url: entry.redirectUrl ?? entry.url ?? '',
          icon: 'user'
        } %}
      {% endfor %}
      </div>
      {% include '_partials/_elements/_pagination' %}
    </div>
  </section>
{% endblock %}
