{% extends '_layout' %}
{% set entry = craft.entries.section('searchIndex').one %}

{% do view.registerJsFile("https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find") %}
{% do view.registerCssFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css") %}
{% do view.registerCssFile ("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4") %}

{% do view.registerJsFile(craft.twigpack.getModuleUri("/js/search.js")) %}

{% css %}
  .ais-search-box {
    max-width: initial;
  }
  .ais-search-box--magnifier {
    top: 50%;
    transform: translateY(-50%);
  }
{% endcss %}

{% block content %}
  <div class="banner leading-normal">
    <div class="relative container mx-auto p-8 z-10 flex flex-col sm:flex-row">
      <h1 class="text-3xl md:text-4xl font-bold mb-0 sm:w-1/4">{{ entry.title }}</h1>
      <form action="" class="flex-1 my-4 sm:my-0">
        <input class="flex-1 py-4 px-8 rounded-none appearance-none" type="search" name="query" id="search-input" value="" required>
        <div id="search-nav" class="text-sm sm:text-base">
          <ul class="list-reset mb-0">
            <li class="inline-block mr-4">
              <a href="#" data-holder="all-holder" class="search-filter-button active">General</a>
            </li>
            <li class="inline-block mr-4">
              <a href="#" data-holder="gov-holder" class="search-filter-button">Offices & People</a>
            </li>
            <li class="inline-block">
              <a href="#" data-holder="cal-holder" class="search-filter-button">Calendar</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8">
      <div class="md:flex">
        <div id="all-holder" data-hits class="md:w-2/3">
          <h2 class="my-0">General</h2>
          <p class="mt-0 text-sm">Everything on our site that isn’t a document or calendar item.</p>
          <div id="all-hits"></div>
        </div>
        <div id="gov-holder" data-hits class="md:w-2/3 hidden">
          <h2 class="my-0">Offices & People</h2>
          <p class="mt-0 text-sm">City officials, departments and boards, as well as our entire staff directory.</p>
          <div id="gov-hits"></div>
        </div>
        <div id="cal-holder" data-hits class="md:w-2/3 hidden">
          <h2 class="my-0">Calendar</h2>
          <p class="mt-0 text-sm">Public meetings and community calendar events held in the City of Oakland</p>
          <div id="cal-hits"></div>
        </div>
        <div id="doc-holder" class="md:ml-8 md:w-1/3">
          <h2 class="my-0">Documents</h2>
          <p class="mt-0 text-sm">Documents and files hosted on <a href="https://www.oaklandca.gov">oaklandca.gov</a>.</p>
          <div id="doc-hits"></div>
        </div>
      </div>
      <div id="bottom-pagination"></div>
    </div>
  </section>
{% endblock %}
