{% extends '_layout' %}
{% set entry = craft.entries.section('searchIndex').one %}

{% do view.registerJsFile("https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find") %}
{% do view.registerCssFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css") %}
{% do view.registerCssFile ("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4") %}

{% do view.registerJsFile(craft.twigpack.getModuleUri("/js/search.js")) %}

{% css %}
  .ais-search-box {
    max-width: initial;
  }
  .ais-search-box--magnifier {
    top: 50%;
    transform: translateY(-50%);
  }
{% endcss %}

{% block content %}
  {% include '_partials/_page-banners' with {
    smallBanner: true
  } %}
  <div class="bg-cararra">
    <div class="container mx-auto p-8">
      <form action="">
        <label for="keywords">Search by Keyword</label>
        <div class="flex flex-col sm:flex-row mt-4">
          <input class="flex-1 py-4 px-8 mb-4 sm:mb-0 rounded-none appearance-none" type="search" name="query" id="search-input" value="" required>
        </div>
      </form>
    </div>
  </div>
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8">
      <div id="search-nav">
        <ul class="list-reset my-0">
          <li class="inline-block mr-4 mb-2">
            <a href="#" data-holder="pub-holder" class="uppercase font-bold text-astronaut hover:text-shark text-lg border-b-2 pb-1 border-astronaut">Public Info</a>
          </li>
          <li class="inline-block mr-4 mb-2">
            <a href="#" data-holder="gov-holder" class="uppercase font-bold text-astronaut hover:text-shark text-lg border-b-2 pb-1 border-astronaut">Government</a>
          </li>
          <li class="inline-block mb-2">
            <a href="#" data-holder="cal-holder" class="uppercase font-bold text-astronaut hover:text-shark text-lg border-b-2 pb-1 border-astronaut">Calendar</a>
          </li>
        </ul>
      </div>
      <div class="md:flex">
        <div id="gov-holder" data-hits class="md:w-2/3 hidden">
          <h2>Government</h2>
          <p class="text-sm">City officials, departments and boards, as well as our entire staff directory.</p>
          <div id="gov-hits"></div>
        </div>
        <div id="pub-holder" data-hits class="md:w-2/3">
          <h2>Public Info</h2>
          <p class="text-sm">Services, Topics, and general information that is of public interest.</p>
          <div id="pub-hits"></div>
        </div>
        <div id="cal-holder" data-hits class="md:w-2/3 hidden">
          <h2>Calendar</h2>
          <div id="cal-hits"></div>
        </div>
        <div id="doc-holder" class="md:ml-8 md:w-1/3">
          <h2>Documents</h2>
          <div id="doc-hits"></div>
        </div>
      </div>
      <div id="bottom-pagination"></div>
    </div>
  </section>
{% endblock %}
