{% set query = craft.app.request.getParam('query') %}
{% extends '_layout' %}
{% set entry = craft.entries.section('searchIndex').one %}

{% do view.registerJsFile("https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find") %}
{% do view.registerCssFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css") %}
{% do view.registerCssFile ("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4") %}

{% do view.registerJsFile(craft.twigpack.getModuleUri("/js/search.js")) %}

{% css %}
.ais-search-box {
    max-width: initial;
  }
  .ais-search-box--magnifier {
    top: 50%;
    transform: translateY(-50%);
  }
{% endcss %}

{% block content %}
  <div class="banner leading-none bg-transparent-oakland-roots">
    <div class="container pt-2 pb-8 md:pt-4 md:pb-6">
      <div class="relative z-10 bg-white text-green-400 text-xs md:text-xs rounded-sm px-2 py-1 inline-block shadow">
        <a class="text-green-400 hover:text-green-400 hover:underline" href="/">
          Oakland
        </a> →
        <span class="font-bold">Search</span>
      </div>
    </div>
  </div>
  <div class="leading-normal">
    <div class="relative container z-10 flex flex-col sm:flex-row">
      <h1 class="text-xxxl md:text-xxxxl font-bold mb-0 sm:w-1/4">{{ entry.title }}</h1>
      <form action="" class="flex-1 my-4 sm:my-0">
        <label class="hidden-visually" for="search-input">Search Term(s)</label>
        <input class="flex-1 py-4 px-8 rounded-none appearance-none" id="search-input" name="query" required type="search" value="">
        <button class="btn hidden-visually" type="submit">Submit</button>
        <div class="text-sm sm:text-base" id="search-nav">
          <ul class="mb-0">
            <li class="inline-block mr-4">
              <a class="search-filter-button active text-gray-500" data-holder="all-holder" href="#">General</a>
            </li>
            <li class="inline-block mr-4">
              <a class="search-filter-button text-gray-500" data-holder="gov-holder" href="#">Offices & People</a>
            </li>
            <li class="inline-block">
              <a class="search-filter-button text-gray-500" data-holder="cal-holder" href="#">Calendar</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <section class="bg-white relative z-0">
    <div class="container">
      <p class="text-sm text- uppercase">Problems using our new search?
        <a href="/search/legacy/?query={{ query }}">Try using our legacy search feature.</a>
      </p>
      <div class="md:flex">
        <div class="md:w-2/3" data-hits id="all-holder">
          <h2 class="my-0">General</h2>
          <div id="all-hits"></div>
        </div>
        <div class="md:w-2/3 hidden" data-hits id="gov-holder">
          <h2 class="my-0">Offices & People</h2>
          <div id="gov-hits"></div>
        </div>
        <div class="md:w-2/3 hidden" data-hits id="cal-holder">
          <h2 class="my-0">Calendar</h2>
          <div id="cal-hits"></div>
        </div>
        <div class="md:ml-8 md:w-1/3" id="doc-holder">
          <h2 class="my-4 sm:mt-0">Documents</h2>
          <div id="doc-hits"></div>
        </div>
      </div>
      <div id="bottom-pagination"></div>
    </div>
  </section>
{% endblock %}
