{% set query = craft.app.request.getParam('query') %}
{% extends '_layout.twig' %}
{% set entry = craft.entries.section('searchIndex').one %}

{% do view.registerJsFile("https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find") %}
{% do view.registerCssFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.5/dist/instantsearch.min.css") %}
{% do view.registerCssFile ("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.5/dist/instantsearch-theme-algolia.min.css") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.5") %}

{% do view.registerJsFile(craft.twigpack.getModuleUri("/js/search.js")) %}

{% css %}
  .ais-search-box {
    max-width: initial;
  }
  .ais-search-box--magnifier {
    top: 50%;
    transform: translateY(-50%);
  }

  .ais-menu--link {
    color: #653cad !important;
  }

  .ais-menu--link:hover {
    color: #240754 !important;
  }

  .ais-menu--count {
    color: #653cad !important;
    background-color: #eae2f8 !important;
  }

  .ais-clear-all--link {
    background-color: #653cad !important;
  }
{% endcss %}

{% block content %}
  <div class="leading-none banner bg-transparent-oakland-roots">
    <div class="container pt-2 pb-8 md:pt-4 md:pb-6">
      <div class="relative z-10 inline-block px-2 py-1 text-xs text-green-800 bg-white rounded-sm shadow md:text-xs">
        <a class="text-green-800 hover:text-green-800 hover:underline" href="/">
          Oakland
        </a> →
        <span class="font-bold">Search</span>
      </div>
    </div>
  </div>
  <div class="leading-normal">
    <div class="container relative z-10 flex flex-col sm:flex-row">
      <h1 class="mb-0 font-bold text-3xl md:text-4xl sm:w-1/4">{{ entry.title }}</h1>
      <form action="" class="flex-1 my-4 sm:my-0">
        <label class="hidden-visually" for="search-input">Search Term(s)</label>
        <input class="flex-1 px-8 py-4 rounded-none appearance-none" id="search-input" name="query" required type="search" value="">
        <button class="btn hidden-visually" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <section class="relative z-0 bg-white">
    <div class="container pt-0">
      <div class="flex flex-col-reverse md:flex-row">
        <div class="md:w-3/4" data-hits id="all-holder">
          <div id="all-hits"></div>
        </div>
        <div class="mb-4 md:w-1/4 md:ml-8 ">
          <div class="p-4 mb-4 overflow-hidden rounded bg-gray-100">
            <h3 class="p-4 mb-4 -mx-4 -mt-4 text-xl text-white bg-gray-900">Looking for calendar events?</h3>
            <p class="my-0 text-lg text-black">Visit our calendar page and search for both public meetings and events around the city!</p>
            <p class="mb-0">
              <a href="/calendar" class="btn btn-sm bg-green-800 hover:bg-green-1000">View Oakland Calendars</a>
            </p>
          </div>
          <p class="mt-0 text-sm uppercase">Problems with search?<br>
            <a class="underline" href="/search/legacy/?query={{ query }}">Try using our legacy search feature.</a>
          </p>
          <div id="section-filter" class="hidden md:block"></div>
          <div class="mt-2" id="clear-refinements"></div>
        </div>
      </div>
      <div id="bottom-pagination"></div>
    </div>
  </section>
{% endblock %}
