{% extends 'events' %}
{% set entry = craft.entries.section('meetingsIndex').one %}
{% set relatedEntry = null %}
{% if craft.app.request.getSegment(2) == 'related-to' %}
  {% set urlSlug = craft.app.request.getSegment(3) %}
  {% set relatedEntry = craft.entries.slug(urlSlug).one %}
{% endif %}

{% block content %}
  {% include '_partials/_page-banners' with {
    bannerTitle: entry.title | replace(' Index', ''),
    breadCrumbs: true,
  } %}
  {% include '_partials/_elements/_search-bar' %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      {% set events = craft.calendar.events({
        calendarId: 3,
        rangeStart: now | date('Y-m-d'),
        rangeEnd: now | date_modify('+1 year') | date('Y-m-d'),
        relatedTop: relatedEntry,
        limit: 10
      }) %}
      {% paginate events as pageInfo, pageEntries %}
      {% include '_partials/_elements/_pagination' %}
      {% for entry in pageEntries %}
        {% include '_partials/_elements/_horizontal-cards' with {
          title: entry.title,
          url: entry.url,
          icon: 'calendar',
          photo: entry.eventImage.one,
          byline: entry.startDate.format("M d, Y"),
          body: entry.body | chop(limit=80, unit='w', append='…')
        } %}
      {% endfor %}
      {% include '_partials/_elements/_pagination' %}
    </div>
  </section>
{% endblock %}
