{% extends '_layout' %}
{% set entry = craft.entries.section('newsIndex').one %}
{% set relatedEntry = null %}
{% if craft.app.request.getSegment(2) == 'related-to' %}
  {% set urlSlug = craft.app.request.getSegment(3) %}
  {% set relatedEntry = craft.entries.slug(urlSlug).first() %}
{% endif %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true,
  } %}
  {% include '_partials/_elements/_search-bar' with { searchSegment: "news"} %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      {% paginate craft.entries.section('news').relatedTo(relatedEntry).limit(25).orderBy('postDate desc') as pageInfo, pageEntries %}
      {% include '_partials/_elements/_pagination' %}
      {% for entry in pageEntries %}
        {% include '_partials/_elements/_horizontal-cards' with {
          title: entry.title,
          url: entry.url,
          icon: 'newspaper',
          photo: entry.newsImage.one,
          byline: entry.postDate.format("M d, Y"),
          body: entry.summary
        } %}
      {% endfor %}
      {% include '_partials/_elements/_pagination' %}
    </div>
  </section>
{% endblock %}
