{% extends '_layouts/_banner-with-nav.twig' %}

{% set relatedEvents = craft.calendar.events.relatedTo(entry) %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}

{% set relatedContent = [
  ['events', 'calendar'],
  ['meetings', 'calendar'],
  ['news', 'entries'],
  ['services', 'entries'],
  ['resources', 'entries'],
  ['topics', 'entries'],
  ['projects', 'entries'],
  ['documents', 'entries']
] %}

{% set contactState = entry.addresses | length or not entry.address.isEmpty or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}
{% set contentBuilder = entry.contentBuilder | length %}
{% set contact = contactState %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Departments',
        link: '/departments'
      }
    ],
    managementTitle: 'Our Management',
    contactTitle: 'Contact Us',
  } %}
  <div class="container pt-0">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" with {
        navMenu: {
          'events': relatedEvents.exists(),
          'minutesAgendas': entry.pageDocuments.exists(),
          'services': entry.pageServices.exists(),
          'resources': entry.pageResources.exists(),
          'relatedPages': true,
          'contact': contactState
        }
      } %}
      <div class="w-full">
        {% include "_partials/_elements/_page-alerts.twig" %}
        {% if contentBuilder %}
          {% include '_partials/_content-builder/_tool.twig' %}
        {% else %}
          {% include '_partials/_page-events.twig' %}
          {% include '_partials/_page-documents.twig' with {
            pageDocumentsHeaderText: 'Minutes & Agendas'
          } %}
          {% include '_partials/_page-services.twig' %}
          {% include '_partials/_page-resources.twig' %}
          {% include '_partials/_elements/_module-header.twig' with {
            headerText: "City Officials",
            linkText: "All Elected Officials",
            linkUrl: "/officials",
            buttonBright: true
          } %}
          <div class="card-grid grid-equal-height profile-cards mt-12">
            {% for entry in entry.pageOfficials.all() %}
              {% include '_partials/_elements/_profile-cards.twig' with {
                photo: entry.portrait.one,
                name: entry.groupHeadName,
                jobTitle: entry.title,
                url: entry.redirectUrl ?? entry.url ?? ''
              } %}
            {% endfor %}
          </div>
        {% endif %}
        {% include "_partials/_page-related-content.twig" with {
          relatedContent : relatedContent
        } %}
        {% include '_partials/_page-location.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
