{% extends '_layouts/_banner-with-nav.twig' %}

{% set defaultButtonUrl = "/events/related-to/" ~ entry.section.handle ~ "/" ~ entry.slug %}

{% set eventOptions = {
  calendar: "events"
} %}

{% set meetingOptions = {
  calendar: "meetings"
} %}

{% set relatedContent = [
  ['events', 'calendar'],
  ['meetings', 'calendar'],
  ['news', 'entries'],
  ['services', 'entries'],
  ['resources', 'entries'],
  ['topics', 'entries'],
  ['projects', 'entries'],
  ['documents', 'entries']
] %}

{% set contactState = entry.addresses | length or (entry.address | length and not entry.address.isEmpty) or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}

{% set relatedEvents = craft.calendar.events(eventOptions).relatedTo(entry) %}
{% set relatedMeetings = craft.calendar.events(meetingOptions).relatedTo(entry) %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}
{% set contentBuilder = entry.contentBuilder | length %}
{% set leadership = true %}
{% set contact = contactState %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Departments',
        link: '/departments'
      }
    ],
    managementTitle: 'Our Management',
    contactTitle: 'Contact Us',
    navMenu: {
      'events': relatedEvents.exists(),
      'meetings': relatedMeetings.exists(),
      'news': relatedNews.exists(),
      'services': entry.pageServices.exists(),
      'resources': entry.pageResources.exists(),
      'topics': entry.pageTopics.exists(),
      'projects': entry.pageProjects.exists(),
      'documents': entry.pageDocuments.exists(),
      'boards': entry.pageBoardsCommissions.exists(),
      'relatedpages': true,
      'leadership': true,
      'contact': contactState
    }
  } %}
  {% if contentBuilder %}
    <div class="container">
      {% include '_partials/_content-builder/_tool.twig' %}
    </div>
  {% else %}
    {% include '_partials/_page-events.twig' %}
    {% include '_partials/_page-meetings.twig' %}
    {% include '_partials/_page-news.twig' %}
    {% include '_partials/_page-services.twig' %}
    {% include '_partials/_page-resources.twig' %}
    {% include '_partials/_page-topics.twig' %}
    {% include '_partials/_page-projects.twig' %}
    {% include '_partials/_page-documents.twig' %}
    {% include '_partials/_page-boards.twig' with {
      pageBoardsHeaderText: 'Boards & Commissions',
      pageBoardsLinkText: 'All Boards & Commissions',
      pageBoardsLinkUrl: '/boards-commissions',
    } %}
  {% endif %}
  {% include "_partials/_page-related-content.twig" with {
    relatedContent : relatedContent
  } %}
  {% include '_partials/_page-leadership.twig' %}
  {% include '_partials/_page-location.twig' %}
{% endblock %}
