{% extends '_layout' %}

{% set hitsRootClass = 'card-grid vertical-cards' %}

{% do view.registerJsFile("https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find") %}
{% do view.registerCssFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css") %}
{% do view.registerCssFile ("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4") %}
{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js") %}
{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js") %}
{% do view.registerJsFile("https://unpkg.com/baremetrics-calendar@1.0.14/public/js/Calendar.js") %}
{% do view.registerCssFile("https://unpkg.com/baremetrics-calendar@1.0.14/public/css/application.css") %}

{% css %}
{% include "_css/algoliafilter.css" %}
{% endcss %}

{% do view.registerJsFile(craft.twigpack.getModuleUri("/js/algoliafilter.js")) %}

{% block content %}
  {% block pageBanner %}
    {% include '_partials/_page-banners' with {
      bannerTitle: entry.title | replace(' Index', ''),
      breadCrumbs: false,
      smallBanner: true
    } %}
  {% endblock %}
  <div class="bg-cararra" id="search-bar-container">
    <div class="container text-right">
      <div class="flex flex-col sm:flex-row">
        <label class="hidden-visually" for="search-input">How can we help?</label>
        <input class="w-full p-2 md:py-4 md:px-8 rounded-none appearance-none" id="search-input" name="keywords" required type="search" value="">
      </div>
      {% if facets is defined %}
        <a class="inline-block mt-4 text-right" href="#" id="filter-reveal">Show Filters</a>
      {% endif %}
    </div>
  </div>
  <section class="bg-white relative z-0">
    <div class="opacity-0 invisible h-0 overflow-hidden bg-shark text-white relative z-neg-10 trans trans-all" id="algolia-filters">
      <div class="container flex-col -my-4" id="facet-holder">
        {% if facets is defined %}
          {% for facet in facets %}
            <div id="{{ facet.container }}" class="max-w-sm"></div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="container py-0 daterange mt-8 max-w-sm" id="calendar"></div>
    <div class="container mt-4 md:flex">
      <div class="flex-1">
        <div id="hits"></div>
        <div class="text-2xl flex items-center">
          <div class="inline-block" id="bottom-pagination"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
