{% extends '_layout' %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true,
    breadCrumbLinks: [
      {
        title: 'Services',
        link: '/services'
      }
    ],
  } %}
  <section class="bg-white relative z-0">
    <div class="container">
      {% include '_partials/_elements/_ctas' %}
      {% include '_partials/_elements/_transaction-body' %}
      {% if entry.embeddedContent.exists() %}
        {{ entry.embeddedContent.one.codeInsertion | raw }}
      {% endif %}
    </div>
  </section>
{% endblock %}
