{% extends '_layout.twig' %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Services',
        link: '/services'
      }
    ],
  } %}
  <section class="bg-white relative z-0">
    <div class="container">
      {% include '_partials/_elements/_ctas.twig' %}
      {% include '_partials/_content-builder/_tool.twig' %}
      {% if entry.embeddedContent.exists() %}
        {{ entry.embeddedContent.one.codeInsertion | raw }}
      {% endif %}
    </div>
  </section>
{% endblock %}
