{% extends '_layout' %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true,
    breadCrumbLinks: [
      {
        title: 'Resources',
        link: '/resources'
      }
    ],
  } %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      {% include '_partials/_elements/_ctas' %}
      {% include '_partials/_elements/_transaction-body' %}
    </div>
  </section>
{% endblock %}
