{% extends '_layout.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'callToAction.documentLink:documentLink',
    'callToAction.documentLink:documentLink.documentFile',
    'contentBuilder',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:entries.documentFile',
    'contentBuilder.smallEntryLinks:entries',
    'contentBuilder.smallEntryLinks:entries.documentFile',
    'contentBuilder.officials.officials',
    'embeddedContent',
  ]
) %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Resources',
        link: '/resources'
      }
    ],
    bannerImage: entry.banner | length ? {
      position: entry.banner[0].getFocalPoint('asCss'),
      src: entry.banner[0].url,
      alt: entry.banner[0].title ?? entry.banner[0].filename
    } : false
  } %}
  <section class="relative z-0 bg-white">
    <div class="container pt-0">
      {% include '_partials/_elements/_ctas.twig' %}
      <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <div class="flex-1">
        {% if entry.resourceImage.exists() %}
          <figure class="mb-8">
            <img class="block w-full" src="{{ entry.resourceImage.one.url }}" alt="{{ entry.title }} Image">
          </figure>
        {% endif %}
        {% include '_partials/_elements/_last-update.twig' %}
        {% include '_partials/_content-builder/_tool.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
