{% extends '_layout.twig' %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    bannerImage: entry.resourceImage,
    bannerImageBlur: 'large',
    breadCrumbLinks: [
      {
        title: 'Resources',
        link: '/resources'
      }
    ],
  } %}
  <section class="bg-white relative z-0">
    <div class="container pt-0">
      {% include '_partials/_elements/_ctas.twig' %}
      <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <div class="flex-1">
        {% include "_partials/_elements/_page-alerts.twig" %}
        {% if entry.resourceImage.exists() %}
          <figure class="mb-8">
            <img class="w-full block" src="{{ entry.resourceImage.one.url }}" alt="{{ entry.title }} Image">
          </figure>
        {% endif %}
        {% include '_partials/_elements/_last-update.twig' %}
        {% include '_partials/_content-builder/_tool.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
