@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-lg leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-light leading-tight;
}

h2 {
  @apply text-4xl my-8;
}

h3 {
  @apply text-3xl my-6;
}

h4 {
  @apply text-2xl my-6;
}

ol,
ul,
dl,
p {
  @apply my-4;
}

a {
  @apply no-underline text-curious-blue trans trans-fast;
}

a:hover {
  @apply text-astronaut;
}

.anchor-link {
  @apply relative block invisible;
}
@media (min-width: 768px) {
  .anchor-link {
    top: -10rem;
  }
}

 /**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

.logo {
  fill: #ffffff;
}

/* Button Styles */

.btn {
  @apply inline-block bg-astronaut py-4 px-8 text-white no-underline trans trans-fast;
}

.btn:hover {
  @apply text-white underline bg-shark;
}

.btn-bright {
  @apply bg-apple;
}

.btn-bright:hover {
  @apply bg-parsley text-white;
}

.btn-sm {
  @apply px-2 py-2;
}

main, footer {
  position: relative;
}

@media (min-width: 768px) {
  main {
    padding-top: 8.453125rem;
  }
}

.home main,
.home footer {
  top: 0;
  padding-top: 0;
}

/* Banner Styles */

.banner {
  @apply relative text-white text-xl leading-loose bg-astronaut z-0;
}

.banner-home {
  @apply bg-shark;
}

.banner-image {
  @apply absolute pin object-fit-cover w-full h-full;
}

/* Section Containers */

.section-container {
  @apply mx-auto px-8 py-16;
}

/* Image Blur */
@responsive {
  .image-blur-none {
    filter: blur(0);
  }
  .image-blur-base {
    filter: blur(10px);
  }
  .image-blur-small {
    filter: blur(5px);
  }
  .image-blur-large {
    filter: blur(25px);
  }
  .image-blur-xlarge {
    filter: blur(75px);
  }
}

/* Service Styles */

.card-grid-button {
  @apply bg-white border-l-4 text-shark no-underline text-xl border-apple p-8 trans trans-fast;
}

main > .bg-rotate:nth-child(odd) .card-grid-button {
  @apply bg-cararra;
}

.card-grid-button:hover {
  @apply bg-apple underline text-white;
}

main > .bg-rotate:nth-child(odd) .card-grid-button:hover {
  @apply bg-apple;
}

/* Department Styles (modifies Service Styles) */

.card-department {
  @apply bg-shark border-astronaut text-white;
}

.card-department img {
  @apply opacity-25 trans trans-opacity;
}

.card-department:hover {
  @apply bg-shark;
}

.card-department:hover img {
  @apply opacity-75;
}

.card-department {
  @apply bg-shark !important;
}

/* Background Section Color Rotations */

main > .bg-rotate:nth-child(even) {
  @apply bg-cararra;
}

main > .bg-rotate:nth-child(odd) {
  @apply bg-white;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
 
 /* Aspect Ratio Box */
 .aspect-ratio {
   @apply absolute pin w-full h-full;
 }

 .aspect-ratio-box {
   @apply relative h-0 overflow-hidden;
 }

/* Object Fit */

.object-fit-cover {
  z-index: -1;
  object-fit: cover;
}

/* Transition Helpers */
/* Default */
.trans {
  transition-duration: .25s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

/* Delays */
.trans-delay-slow  { transition-delay: 1s; }
.trans-delay       { transition-delay: .5s; }
.trans-delay-fast  { transition-delay: .25s; }

/* Duration */
.trans-slower      { transition-duration: .75s; }
.trans-slow        { transition-duration: .5s; }
.trans-regular     { transition-duration: .25s; }
.trans-fast        { transition-duration: .15s; }
.trans-faster      { transition-duration: .075s; }

/* Properties */
.trans-all         { transition-property: all; }
.trans-none        { transition-property: none; }
.trans-bg          { transition-property: background; }
.trans-opacity     { transition-property: opacity; }
.trans-color       { transition-property: color; }
.trans-shadow      { transition-property: box-shadow; }
.trans-height      { transition-property: height; }

/* Timing Function */
.trans-linear      { transition-timing-function: linear; }
.trans-ease        { transition-timing-function: ease; }
.trans-ease-in     { transition-timing-function: ease-in; }
.trans-ease-out    { transition-timing-function: ease-out; }
.trans-ease-in-out { transition-timing-function: ease-in-out; }

 /* Use this utility to hide text only meant for screen readers */
 .hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.iframe-holder iframe {
  max-width: 100% !important;
}

@media (min-width: 768px) {
  .card-department-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-grid {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  flex-flow: row wrap;
}

.card-grid > * {
  width: 100%;
  margin: 16px;
}

@media (min-width: 576px) {
  .card-grid > * {
    width: calc(50% - 32px);
    align-self: stretch;
  }
}

@media (min-width: 992px) {
  .card-grid > * {
    width: calc(33.3333% - 32px);
  }
}

.horizontal-card {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .horizontal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > figure {
      width: calc((100% / 3)  - 24px);
    }

    & > div {
      width: calc((100% / 3 * 2)  - 24px);
    }
  }
}

.step-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 150px 1fr;
}

a,
input,
textarea,
button {
  &:focus {
    outline-style: solid;
    outline-color: invert;
    outline-width: 3px;
  }
}

table {
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #aaa;
  padding: 8px;
}

/* PUSH MENU */
#menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  transition: right .5s ease-out;
}

body.open #menu {
  right: 0;
}

.page-holder {
  position: relative;
  right: 0;
  transition: right .5s ease-out;
}

body.open .page-holder {
  right: 300px;
  overflow: hidden;
}

.timeline-grid {
}

.timeline-grid dt {
  font-size: 24px;
  padding-left: 50px;
  background-image: url('/assets/img/icon-timeline-point.svg');
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: top left;
}

.timeline-grid dd {
  font-size: 16px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.search-filter-button {
  @apply p-2 inline-block uppercase text-white pb-1;
}

.search-filter-button:hover {
  @apply rounded bg-white text-shark shadow;
}

.search-filter-button.active {
  @apply font-bold border-b-2 border-white;
}