@tailwind base;
@tailwind components;

/* Use this utility to hide text only meant for screen readers */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

body {
  @apply font-body text-lg leading-normal text-dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}

h1,
h2,
h3 {
  @apply font-extrabold font-heading;
}

h2 {
  @apply text-4xl my-8;
}

h3 {
  @apply text-3xl my-6 font-semibold;
}

h4 {
  @apply text-2xl my-6;
}

ol,
ul,
dl,
p {
  @apply my-4;
}

a {
  @apply no-underline text-dark-green;
}

a:hover {
  @apply text-deep-green;
}

.anchor-link {
  @apply relative block invisible;
}

@media (min-width: theme('screens.md')) {
  .anchor-link {
    top: -10rem;
  }
}

.container {
  @apply p-6;
}

@media (min-width: theme('screens.sm')) {
  .container {
    @apply px-8 py-12;
  }
}

.logo {
  fill: #ffffff;
}

#google_translate_element img {
  @apply inline;
}

/* Button Styles */
.btn {
  @apply inline-block bg-bright-green py-4 px-8 text-base text-white no-underline trans trans-fast font-bold tracking-wide shadow rounded-sm;
}

.btn:hover {
  @apply text-white underline bg-dark-green shadow-none;
}

.btn-sm {
  @apply px-2 py-2;
}

main,
footer {
  position: relative;
}

main {
  padding-top: 3.5rem;
}

@media (min-width: theme('screens.md')) {
  main {
    padding-top: 7.5rem;
  }
}

/* Banner Styles */
.banner  {
  @apply relative text-white text-xl leading-loose bg-white;
}

/* Service Styles */
.card-grid-button {
  @apply bg-white rounded-sm text-shark no-underline text-lg font-bold shadow-btn p-8 trans trans-fast;
}

.card-grid-button:hover {
  @apply bg-bright-green underline text-white;
}

/* Department Styles (modifies Service Styles) */
.card-department {
  @apply bg-shark border-astronaut text-white;
}

.card-department img {
  @apply opacity-25 trans trans-opacity;
}

.card-department:hover {
  @apply bg-shark;
}

.card-department:hover img {
  @apply opacity-75;
}

.card-department {
  @apply bg-shark !important;
}

/* Background Section Color Rotations */
main > .bg-rotate:nth-of-type(odd) {
  @apply bg-bright-gray;
}

main > .bg-rotate:nth-of-type(even) {
  @apply bg-white;
}


.iframe-holder iframe {
  max-width: 100% !important;
}

@media (min-width: theme('screens.md')) {
  .card-department-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-grid {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  flex-flow: row wrap;
  & > * {
    width: 100%;
    margin: 16px;
  }
}

.card-grid-tight {
  margin-left: 0;
  margin-right: 0;
  & > * {
    margin: 8px 0;
  }
}

@media (min-width: theme('screens.sm')) {
  .card-grid > * {
    width: calc(33.3333% - 32px);
    align-self: stretch;
  }
  .card-grid-2up > * {
    width: calc(50% - 32px);
  }
  .card-grid-tight {
    margin-left: -8px;
    margin-right: -8px;
    & > * {
      width: calc(33.3333% - 16px);
      margin: 8px;
    }
  }
  .profile-cards > * {
    width: calc(50% - 32px);
  }
}

@media (min-width: theme('screens.md')) {
  .profile-cards > * {
    width: calc(33.3333% - 32px);
  }
}

.horizontal-card {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .horizontal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > figure {
      width: calc((100% / 3) - 24px);
    }

    & > div {
      width: calc((100% / 3 * 2) - 24px);
    }
  }
}

.step-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 150px 1fr;
}

.body-text {
  & ul {
    @apply list-disc list-inside;
  }
}

a,
input,
textarea,
button {
  &:focus {
    outline-style: solid;
    outline-color: invert;
    outline-width: 3px;
  }
}

table {
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #aaa;
  padding: 8px;
}

/* PUSH MENU */
#menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  transition: right 0.5s ease-out;
}

body.open #menu {
  right: 0;
}

.page-holder {
  position: relative;
  right: 0;
  transition: right 0.5s ease-out;
}

.how-it-works-block {
  background-image: url("/assets/img/icon-down-arrow.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  @apply pb-10 px-24 mb-4 relative;
}
@media (min-width: 768px) {
  .how-it-works-block {
    background-image: none;
    @apply w-1/4 px-8 mb-0;

    &:after {
      background-image: url("/assets/img/icon-right-arrow.svg");
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      top: 10px;
      right: -30px;
      width: 59px;
      height: 16px;
    }

    &:last-of-type {
      &:after {
        background-image: none;
      }
    }
  }
}


body.open .page-holder {
  right: 300px;
  overflow: hidden;
}

.timeline-grid dt {
  font-size: 24px;
  padding-left: 50px;
  background-image: url("/assets/img/icon-timeline-point.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: top left;
}

.timeline-grid dd {
  font-size: 16px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.search-filter-button {
  @apply p-2 inline-block uppercase text-white pb-1;
}

.search-filter-button:hover {
  @apply rounded bg-white text-shark shadow;
}

.search-filter-button.active {
  @apply font-bold border-b-2 border-white;
}

@responsive {
  .hidden-visually {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}

@tailwind utilities;

@responsive {
  .aspect-ratio-square {
    padding-top: 100.00%;
  }

  .aspect-ratio-16\/9 {
    padding-top: 56.25%;
  }

  .aspect-ratio-4\/3 {
    padding-top: 75.00%;
  }

  .aspect-ratio-21\/9 {
    padding-top: 42.86%;
  }
  .image-blur-none {
    filter: blur(0);
  }
  .image-blur-base {
    filter: blur(10px);
  }
  .image-blur-small {
    filter: blur(5px);
  }
  .image-blur-large {
    filter: blur(25px);
  }
  .image-blur-xlarge {
    filter: blur(75px);
  }
}

/* Aspect Ratio Box */
.aspect-ratio {
  @apply absolute inset-0 w-full h-full;
}

.aspect-ratio-box {
  @apply relative h-0 overflow-hidden;
}

/* Object Fit */
.object-fit-cover {
  object-fit: cover;
}

/* Transition Helpers */
/* Default */
.trans {
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

/* Delays */
.trans-delay-slow {
  transition-delay: 1s;
}
.trans-delay {
  transition-delay: 0.5s;
}
.trans-delay-fast {
  transition-delay: 0.25s;
}

/* Duration */
.trans-slower {
  transition-duration: 0.75s;
}
.trans-slow {
  transition-duration: 0.5s;
}
.trans-regular {
}
.trans-fast {
  transition-duration: 0.15s;
}
.trans-faster {
  transition-duration: 0.075s;
}

/* Properties */
.trans-none {
  transition-property: none;
}
.trans-bg {
  transition-property: background;
}
.trans-opacity {
  transition-property: opacity;
}
.trans-color {
  transition-property: color;
}
.trans-shadow {
  transition-property: box-shadow;
}
.trans-height {
  transition-property: height;
}

/* Timing Function */
.trans-linear {
  transition-timing-function: linear;
}
.trans-ease {
  transition-timing-function: ease;
}
.trans-ease-in {
  transition-timing-function: ease-in;
}
.trans-ease-out {
  transition-timing-function: ease-out;
}
