@tailwind base;
@tailwind components;

/* Use this utility to hide text only meant for screen readers */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*  Formstack unfortunately includes a .hidden class that overrides our Tailwind default class, 
    so we need to @apply it's class to another one to avoid namespace collision  */
@responsive {
  .oak-hidden {
    @apply hidden;
  }
}

.o-override > * {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  @apply font-body text-lg leading-normal text-gray-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}

h1,
h2,
h3 {
  @apply font-extrabold font-heading;
}

h2 {
  @apply text-xxxxl my-8;
}

h3 {
  @apply text-xxxl my-6 font-semibold;
}

h4 {
  @apply text-xxl my-6;
}

ol,
ul,
dl,
p {
  @apply my-4;
}

a {
  @apply no-underline text-green-400;
}

a:hover {
  @apply text-green-600;
}

.anchor-link {
  @apply relative block invisible;
}

@media (min-width: theme("screens.md")) {
  .anchor-link {
    top: -10rem;
  }
}

.container {
  @apply p-6;
}

@media (min-width: theme("screens.sm")) {
  .container {
    @apply px-8 py-12;
  }
}

.logo {
  fill: #ffffff;
}

#google_translate_element img {
  @apply inline;
}

/* Button Styles */
.btn {
  @apply inline-block bg-green-300 py-4 px-8 text-base text-white no-underline trans trans-fast font-bold tracking-wide shadow rounded-sm;
}

.btn:hover {
  @apply text-white underline bg-green-400 shadow-none;
}

/* Service Styles */
.card-grid-button {
  @apply bg-white rounded-sm text-gray-700 no-underline text-lg font-bold shadow-btn p-8 trans trans-fast;
}

.card-grid-button:hover {
  @apply bg-green-300 underline text-white;
}

.btn-sm {
  @apply px-2 py-2;
}

.btn-md {
  @apply px-4 py-4;
}

.section-box {
  @apply border-l-4 border-green-300 rounded-sm font-semibold block p-5 text-green-400 bg-white shadow-btn;
}

.section-box:hover {
  @apply text-white bg-green-600;
}

main,
footer {
  position: relative;
}

main {
  @apply pt-14;
}

@media (min-width: theme("screens.md")) {
  main {
    @apply pt-30;
  }
}

/* Banner Styles */
.banner {
  @apply relative text-white text-xl leading-loose bg-white;
}

/* Background Section Color Rotations */
main .bg-rotate:nth-of-type(odd) {
  @apply bg-gray-100;
}

main .bg-rotate:nth-of-type(even) {
  @apply bg-white;
}

.iframe-holder iframe {
  max-width: 100% !important;
}

.card-grid {
  @apply flex -mx-4 flex-row flex-wrap;
  & > * {
    @apply w-full m-4;
  }
}

.card-grid-tight {
  @apply mx-0;
  & > * {
    @apply my-2 mx-0;
  }
}

@media (min-width: theme("screens.sm")) {
  .card-grid > * {
    @apply self-stretch;
    width: calc(theme("width.1/3") - theme(margin.8));
  }
  .card-grid-2up > * {
    width: calc(theme("width.1/2") - theme(margin.8));
  }
  .card-grid-tight {
    @apply -mx-2;
    & > * {
      @apply m-2;
      width: calc(theme("width.1/2") - theme(margin.4));
    }
  }
  .profile-cards > * {
    width: calc(theme("width.1/2") - theme(margin.4));
  }
}

@media (min-width: theme("screens.md")) {
  .profile-cards > * {
    width: calc(theme("width.1/2") - theme(margin.8));
  }
}

@media (min-width: theme("screens.lg")) {
  .card-grid-tight > * {
    width: calc(theme("width.1/3") - theme(margin.4));
  }
  .profile-cards > * {
    width: calc(theme("width.1/3") - theme(margin.8));
  }
}

.horizontal-card {
  @apply flex flex-col;
}

@media (min-width: 1024px) {
  .horizontal-card {
    @apply flex-row justify-between;
    & > figure {
      width: calc(theme("width.1/2") - theme(margin.6));
    }

    & > div {
      width: calc(theme("width.1/2") - theme(margin.6));
    }
  }
}

.step-grid {
  display: grid;
  grid-gap: theme("spacing.4");
  grid-template-columns: 150px 1fr;
}

.body-text {
  & ul {
    @apply list-disc list-outside;
    & li {
      @apply ml-5 pl-2;
    }
  }
}

a,
input,
textarea,
button {
  &:focus {
    outline-style: solid;
    outline-color: invert;
    outline-width: 3px;
  }
}

table,
th,
td {
  @apply border border-solid border-gray-400;
}

th,
td {
  @apply p-2;
}

/* PUSH MENU */
#menu {
  @apply fixed top-0;
  right: -300px;
  width: 300px;
  transition: right 0.5s ease-out;
}

body.open #menu {
  @apply right-0;
}

.page-holder {
  @apply relative right-0 trans-slow trans-ease-out;
  transition: right 0.5s ease-out;
}

.how-it-works-block {
  @apply px-24 mb-4 relative bg-no-repeat bg-bottom;
  background-image: url("/assets/img/icon-down-arrow.svg");
}

@media (min-width: 768px) {
  .how-it-works-block {
    @apply w-1/4 px-8 mb-0;
    background-image: none;
    &:after {
      @apply bg-no-repeat absolute;
      background-image: url("/assets/img/icon-right-arrow.svg");
      content: "";
      top: 10px;
      right: -30px;
      width: 59px;
      height: 16px;
    }

    &:last-of-type {
      &:after {
        background-image: none;
      }
    }
  }
}

body.open .page-holder {
  @apply overflow-hidden;
  right: 300px;
}

.timeline-grid dt {
  @apply text-xxl bg-no-repeat bg-left-top pl-12;
  background-image: url("/assets/img/icon-timeline-point.svg");
  background-size: theme(spacing.9);
}

.timeline-grid dd {
  @apply text-base pl-12 pb-5;
}

.search-filter-button {
  @apply p-2 inline-block uppercase text-white pb-1;
}

.search-filter-button:hover {
  @apply rounded bg-white text-gray-700 shadow;
}

.search-filter-button.active {
  @apply font-bold border-b-2 border-white;
}

[data-toggle="off"] {
  @apply hidden;
}

@responsive {
  .hidden-visually {
    @apply absolute overflow-hidden border-none p-0 -mx-px h-px w-px;
    clip: rect(0 0 0 0);
  }
}

.heading-0-margin {
  & h2,
  & h3 {
    margin-bottom: 0;
    & + .body-text > *:first-child {
      margin-top: .5rem;
    }
  }
}

@tailwind utilities;

@responsive {
  .aspect-ratio-square {
    padding-top: 100%;
  }

  .aspect-ratio-16\/9 {
    padding-top: 56.25%;
  }

  .aspect-ratio-4\/3 {
    padding-top: 75%;
  }

  .aspect-ratio-7\/3 {
    padding-top: 42.86%;
  }
}

.bg-transparent-oakland-roots {
  @apply bg-cover;
  background-image: url(/assets/img/oaklandroots-transparent-green.png);
}

/* Aspect Ratio Box */
.aspect-ratio {
  @apply absolute inset-0 w-full h-full;
}

.aspect-ratio-box {
  @apply relative h-0 overflow-hidden;
}

/* Transition Helpers */
/* Default */
.trans {
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

/* Delays */
.trans-delay-slow {
  transition-delay: 1s;
}
.trans-delay {
  transition-delay: 0.5s;
}
.trans-delay-fast {
  transition-delay: 0.25s;
}

/* Duration */
.trans-slower {
  transition-duration: 0.75s;
}
.trans-slow {
  transition-duration: 0.5s;
}
.trans-regular {
}
.trans-fast {
  transition-duration: 0.15s;
}
.trans-faster {
  transition-duration: 0.075s;
}

/* Properties */
.trans-none {
  transition-property: none;
}
.trans-bg {
  transition-property: background;
}
.trans-opacity {
  transition-property: opacity;
}
.trans-color {
  transition-property: color;
}
.trans-shadow {
  transition-property: box-shadow;
}
.trans-height {
  transition-property: height;
}

/* Timing Function */
.trans-linear {
  transition-timing-function: linear;
}
.trans-ease {
  transition-timing-function: ease;
}
.trans-ease-in {
  transition-timing-function: ease-in;
}
.trans-ease-out {
  transition-timing-function: ease-out;
}
