.iframe-holder iframe {
  max-width: 100% !important;
}

@media (min-width: 768px) {
  .card-department-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-grid {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  flex-flow: row wrap;
}

.card-grid > * {
  margin: 16px;
}

@media (min-width: 576px) {
  .card-grid > * {
    width: calc(50% - 32px);
    align-self: stretch;
  }
}

@media (min-width: 768px) {
  .card-department-grid > * {
    width: calc(50% - 32px);
  }
}

@media (min-width: 992px) {
  .card-grid > * {
    width: calc(33.3333% - 32px);
  }
}

/*

@media (min-width: 576px) {
  .grid-equal-height {
    grid-auto-rows: 1fr;
  }
}
 */

.horizontal-card {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .horizontal-card {
    display: grid;
    grid-template-areas: "graphic body";
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 48px;
    & > figure {
      grid-area: graphic;
    }

    & > div {
      grid-area: body;
    }
  }
}

.step-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 150px 1fr;
}

a,
input,
textarea,
button {
  &:focus {
    outline-style: solid;
    outline-color: invert;
    outline-width: 3px;
  }
}

table {
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #aaa;
  padding: 8px;
}

/* PUSH MENU */
#menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  /* transition: right .3s ease-in; */
}

body.open #menu {
  right: 0;
}

.page-holder {
  position: relative;
  right: 0;
  /* transition: right .3s ease-in; */
}

body.open .page-holder {
  right: 300px;
  overflow: hidden;
}
