.iframe-holder iframe {
  max-width: 100% !important;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 576px) {
  .card-grid > * {
    display: block;
    width: 48.75%;
    margin-right: 2.5%;
  }
  .card-grid > *:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .card-grid > * {
    width: 31.66666666%;
    margin-bottom: 2.5%;
  }
  .card-grid > *:nth-child(2n+2) {
    margin-right: 2.5%;
  }
  .card-grid > *:nth-child(3n+3) {
    margin-right: 0;
  }
  .card-grid.wide-cards > * {
    width: 48.75%;
    margin-right: 2.5%;
  }
  .card-grid.wide-cards > *:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .card-department-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@supports (display: grid) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 32px;
  }

  @media (min-width: 576px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 992px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .card-grid.wide-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    .card-department-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 576px) {
    .card-grid > * {
      width: initial;
      margin-right: initial;
    }
    .card-grid > *:nth-child(2n+2) {
      margin-right: initial;
    }
  }

  @media (min-width: 992px) {
    .card-grid > * {
      width: initial;
      margin-bottom: initial;
    }
    .card-grid > *:nth-child(2n+2) {
      margin-right: initial;
    }
    .card-grid > *:nth-child(3n+3) {
      margin-right: initial;
    }
    .card-grid.wide-cards > * {
      width: initial;
      margin-right: initial;
    }
    .card-grid.wide-cards > *:nth-child(2n+2) {
      margin-right: initial;
    }
  }

  @media (min-width: 768px) {
    .card-department-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 576px) {
  .grid-equal-height {
    grid-auto-rows: 1fr;
  }
}

.vertical-cards {
  grid-row-gap: 48px;
}

.horizontal-card {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 32px;
}

@media (min-width: 576px) {
  .horizontal-card {
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 48px;
  }
}

.step-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 150px 1fr;
}

a,
input,
textarea,
button {
  &:focus {
    outline-style: solid;
    outline-color: invert;
    outline-width: 3px;
  }
}

table {
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #aaa;
  padding: 8px;
}

/* PUSH MENU */
#menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  /* transition: right .3s ease-in; */
}

body.open #menu {
  right: 0;
}

.page-holder {
  position: relative;
  right: 0;
  /* transition: right .3s ease-in; */
}

body.open .page-holder {
  right: 300px;
  overflow: hidden;
}
