/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

body {
  @apply font-sans text-lg leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-light leading-tight;
}

h2 {
  @apply text-4xl my-8;
}

h3 {
  @apply text-3xl my-6;
}

h4 {
  @apply text-2xl my-6;
}

ol,
ul,
dl,
p {
  @apply my-4;
}

a {
  @apply no-underline text-curious-blue trans trans-fast;
}

a:hover {
  @apply text-astronaut;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

.logo {
  fill: #ffffff;
}

/* Button Styles */

.btn {
  @apply inline-block bg-astronaut py-4 px-8 text-white no-underline trans trans-fast;
}

.btn:hover {
  @apply text-white underline bg-shark;
}

.btn-bright {
  @apply bg-apple;
}

.btn-bright:hover {
  @apply bg-parsley text-white;
}

.btn-sm {
  @apply px-2 py-2;
}

/* Banner Styles */

.banner {
  @apply relative text-white text-xl leading-loose bg-astronaut z-0;
  padding-top: 10rem;
}

.banner-home {
  @apply bg-shark;
}

.banner-image {
  @apply absolute pin object-fit-cover w-full h-full;
}

/* Service Styles */

.card-grid-button {
  @apply bg-white border-l-4 text-shark no-underline text-xl border-apple p-8 trans trans-fast;
}

main > .bg-rotate:nth-child(odd) .card-grid-button {
  @apply bg-cararra;
}

.card-grid-button:hover {
  @apply bg-apple underline text-white;
}

main > .bg-rotate:nth-child(odd) .card-grid-button:hover {
  @apply bg-apple;
}

/* Department Styles (modifies Service Styles) */

.card-department {
  @apply bg-shark border-astronaut text-white;
}

.card-department img {
  @apply opacity-25 trans trans-opacity;
}

.card-department:hover {
  @apply bg-shark;
}

.card-department:hover img {
  @apply opacity-75;
}

/* Background Section Color Rotations */

main > .bg-rotate:nth-child(even) {
  @apply bg-cararra;
}

main > .bg-rotate:nth-child(odd) {
  @apply bg-white;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

/* Object Fit */

.object-fit-cover {
  z-index: -1;
  object-fit: cover;
}

/* Transition Helpers */
/* Default */
.trans {
  transition-duration: .25s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

/* Delays */
.trans-delay-slow  { transition-delay: 1s; }
.trans-delay       { transition-delay: .5s; }
.trans-delay-fast  { transition-delay: .25s; }

/* Duration */
.trans-slower      { transition-duration: .75s; }
.trans-slow        { transition-duration: .5s; }
.trans-regular     { transition-duration: .25s; }
.trans-fast        { transition-duration: .15s; }
.trans-faster      { transition-duration: .075s; }

/* Properties */
.trans-all         { transition-property: all; }
.trans-none        { transition-property: none; }
.trans-bg          { transition-property: background; }
.trans-opacity     { transition-property: opacity; }
.trans-color       { transition-property: color; }
.trans-shadow      { transition-property: box-shadow; }
.trans-height      { transition-property: height; }

/* Timing Function */
.trans-linear      { transition-timing-function: linear; }
.trans-ease        { transition-timing-function: ease; }
.trans-ease-in     { transition-timing-function: ease-in; }
.trans-ease-out    { transition-timing-function: ease-out; }
.trans-ease-in-out { transition-timing-function: ease-in-out; }

 /* Use this utility to hide text only meant for screen readers */
 .hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}