{% extends '_layout.twig' %}

{% block content %}
  <section class="bg-white">
    <div class="container py-16">
      <h2>We apologize, the page you were looking cannot be found.</h2>
      <p>Try returning to the homepage or searching for what you need.</p>
      <form action="{{ url('search') }}">
        <div class="max-w-md sm:flex">
          <input class="w-full p-4 mb-4 border rounded-none appearance-none sm:flex-1 sm:mb-0 border-gray-1000" name="query" placeholder="How can we help?" type="search" value="">
          <button class="w-full border border-l-0 sm:w-auto btn border-gray-1000" type="submit">Search</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
