<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% hook 'seomaticRender' %}
  <link rel="stylesheet" href="/assets/css/site.combined.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">

</head>
{% if not craft.app.request.segments() %}
  {% set pageClass = "home" %}
{% endif %}

{% set mainNav = craft.entries.section('navigation').slug('main-nav').one() %}
<body class="{{ pageClass ?? '' }}">
  {% include '_partials/_elements/_mobile-nav-bar' %}
  <div class="page-holder">
    {% include '_partials/_elements/_nav-bar' %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% include '_partials/_elements/_footer' %}
  </div>
</body>

</html>
