{# Create an asset query with the 'volume' and 'kind' parameters #}
{% set myAssetQuery = craft.assets()
    .kind('image')
    .orderBy('section.handle asc') %}

{# Fetch the assets #}
{% set images = myAssetQuery.all() %}

{# Display the thumbnail list #}
<ul>
    {% for image in images %}
        <li>{{ image.getUrl() }}</li>
    {% endfor %}
</ul>