{% set departmentsGrouped = craft.entries.section('departments').orderBy('title').all() | group('title | first') %}

{% for letter, entries in departmentsGrouped %}
  <h2>{{ letter | upper }}</h2>
  <ul>
      {% for entry in entries %}
          <li>{{ entry.title }}</li>
      {% endfor %}
  </ul>
{% endfor %}