<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/site.combined.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
</head>

<body>
  {% include '_partials/_nav-bar' %}
  {% include '_partials/_home-hero' %}
  {% include '_partials/_page-alert' %}
  {% include '_partials/_horizontal-cards' %}
  {% include '_partials/_search-bar' %}
  {% include '_partials/_vertical-cards' %}
  {% include '_partials/_card-filter' %}
  {% include '_partials/_profile-cards' %}
  {% include '_partials/_footer' %}
</body>

</html>