{% extends '_layouts/_banner-with-nav' %}

{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}
{% set location = entry.addresses | length or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true,
    breadCrumbLinks: [
      {
        title: 'City Officials',
        link: '/officials'
      }
    ],
    navMenu: {
      'timeline': entry.timeline.exists(),
      'steps': entry.processSteps.exists(),
      'news': relatedNews.exists(),
      'contact': location
    }
  } %}

  {% include '_partials/_page-timeline' %}

  {% if entry.processSteps.exists() %}
    <section class="bg-rotate">
      <a id="page-steps" class="anchor-link"></a>
      <div class="container mx-auto p-8 py-16">
        {% include '_partials/_elements/_module-header' with {
          headerText: "Steps"
        } %}
        <dl class="list-reset step-grid">
          {% for block in entry.processSteps.all() %}
            <dt class="step-number text-xl p-4 bg-celeste text-center">
              <p class="font-bold text-3xl my-0">{{ block.stepNumber }}</p>
              <p class="my-0">
              {% if block.stepRequired %}
                Required
              {% else %}
                Optional
              {% endif %}
              </p>
            </dt>
            <dd class="step-description bg-celeste p-4">
              <h3 class="text-3xl"><a href="{{ block.stepAction.one.url }}">{{ block.stepAction.one.type.name ~ ' - ' ~ block.stepAction.one.title }}</a></h3>
            </dd>
          {% endfor %}
        </dl>
      </div>
    </section>
  {% endif %}


  {% include '_partials/_page-news' %}
  {% include '_partials/_page-location' %}
{% endblock %}
