{% extends '_layouts/_banner-with-nav.twig' %}

{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}

{% set contactState = entry.addresses | length or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'City Officials',
        link: '/officials'
      }
    ],
    navMenu: {
      'timeline': entry.timeline.exists(),
      'steps': entry.processSteps.exists(),
      'news': relatedNews.exists(),
      'contact': contactState
    }
  } %}

  {% include '_partials/_page-timeline.twig' %}

  {% if entry.processSteps.exists() %}
    <section class="bg-rotate">
      <a class="anchor-link" id="page-steps"></a>
      <div class="container">
        {% include '_partials/_elements/_module-header.twig' with {
          headerText: "Steps"
        } %}
        <dl class="step-grid">
          {% for block in entry.processSteps.all() %}
            <dt class="p-4 text-xl text-center bg-gray-300 step-number">
              <p class="my-0 text-3xl font-bold">{{ block.stepNumber }}</p>
              <p class="my-0">
                {% if block.stepRequired %}
                  Required
                {% else %}
                  Optional
                {% endif %}
              </p>
            </dt>
            <dd class="p-4 bg-gray-300 step-description">
              <h3 class="text-3xl">
                <a href="{{ block.stepAction.one.url }}">{{ block.stepAction.one.type.name ~ ' - ' ~ block.stepAction.one.title }}</a>
              </h3>
            </dd>
          {% endfor %}
        </dl>
      </div>
    </section>
  {% endif %}


  {% include '_partials/_page-location.twig' %}
{% endblock %}
