<div class="bg-green-100 p-4 rounded-sm overflow-hidden">
  <h3 class="bg-green-600 text-white text-xxl p-4 -mx-4 -mt-4 mb-4">Accessibility and Interpretation Requests</h3>
  <p class="text-lg text-black my-0">This event is wheelchair accessible. Contact us to request disability-related accommodations, American Sign Language (ASL), Mandarin, Spanish or another language interpreter at least five (5) business days before the event. Please refrain from wearing scented products as a courtesy to attendees with chemical sensitivities.</p>
</div>
