<div class="p-4 overflow-hidden text-lg text-black bg-green-100 rounded-sm">
  <h3 class="p-4 mb-4 -mx-4 -mt-4 text-white bg-green-600 text-xxl">Accessibility and Interpretation Requests</h3>
  <p>Contact us to request disability-related accommodations, American Sign Language (ASL), Mandarin, Spanish or another language interpreter at least five (5) business days before the event.</p>
  <p class="mb-0">All meetings held in-person are wheelchair accessible. Please refrain from wearing scented products as a courtesy to attendees with chemical sensitivities.</p>
</div>
