<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'ceb,en,es,hmn,ja,km,ko,mn,tl,vi,zh-TW',
      layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
    }, 'google_translate_element_2');
  }
</script>
<div class="container relative py-0 mx-auto">
  <div class="absolute top-0 right-0 z-30 {{ paddingTop ?? "pt-8" }} pr-8 leading-none oak-hidden lg:block" id="google_translate_element_2"></div>
</div>
