<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'ceb,en,es,hmn,ja,km,ko,mn,tl,vi,zh-TW',
      layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
    }, 'google_translate_element_2');
  }
</script>
<div class="bg-blue-300 z-30 {{ paddingTop ?? "pt-8" }} leading-none block" id="google_translate_element_2"></div>
