<footer class="bg-shark text-white leading-loose text-base">
  <div class="container mx-auto p-8">
    <div class="sm:flex flex-wrap">
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="list-reset my-0">
          <li><a href="/officials" class="text-white">Elected Officials</a></li>
          <li><a href="/departments" class="text-white">Departments</a></li>
          <li><a href="/boards-commissions" class="text-white">Boards & Commissions</a></li>
          <li><a href="/staff" class="text-white">Staff Directory</a></li>
          <li><a href="/services/apply-for-city-of-oakland-and-port-of-oakland-jobs" class="text-white">City Jobs</a></li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="list-reset my-0">
          <li><a href="/services" class="text-white">Services</a></li>
          <li><a href="/resources" class="text-white">Resources</a></li>
          <li><a href="/departments/media-center" class="text-white">News & Updates</a></li>
          <li><a href="/events" class="text-white">Events</a></li>
          <li><a href="/meetings" class="text-white">Meetings</a></li>
          <li><a href="/documents" class="text-white">Documents</a></li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="list-reset my-0">
          <li><a href="/topics/oaklandlovelife" class="text-white">#OaklandLoveLife</a></li>
          <li><a href="https://www.oaklandlibrary.org/" class="text-white">Oakland Library</a></li>
          <li><a href="https://www.visitoakland.com/" class="text-white">Visit Oakland</a></li>
          <li><a href="http://museumca.org/" class="text-white">Oakland Museum</a></li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4 leading-normal">
        <div class="mb-4">
          <b>For Maintenance Requests</b><br>
          311 or 510-615-5566<br>
          Relay Service 711
        </div>
        <div>
          <b>Oakland City Hall</b><br>
          1 Frank H. Ogawa Plaza<br>
          Oakland, CA 94612
        </div>
      </div>
    </div>
  </div>
</footer>
