<div class="banner banner-home">
  <div class="container mx-auto py-32 p-8">
    <img class="banner-image" src="{{ entry.banner.one.url }}" alt="Photo: Grammy winner Fantastic Negrito courtesy of Oakland First Fridays">
    <h1 class="font-bold">Welcome to Oakland</h1>
    <p>The official website for the City of Oakland.<br>
    <b><a class="text-white" href="#">#OaklandLoveLife</a></b></p>
    <form action="{{ url('search') }}">
      <div class="sm:flex max-w-md">
        <input type="search" class="w-full mb-4 sm:flex-1 sm:mb-0 p-4 border-shark border" name="keywords" placeholder="How can we help?" value="">
        <button type="submit" class="w-full sm:w-auto btn border-l-0 border-shark border">Search</button>
      </div>
    </form>
  </div>
</div>
