<nav id="menu" class="bg-shark h-full p-8 flex flex-col">
  <a href="/" class="block mb-4 text-white hover:text-apple fill-current trans-fast">
    {{ craft.inlin.er('/assets/img/logo-oakland.svg') | replace('<svg ', '<svg class="w-full" ') | raw }}
  </a>
  <button class="btn btn-sm" id="close-menu">Close Menu</button>
  <ul class="list-reset flex-1 overflow-y-scroll">
    {% for nav in mainNav.navBuilder.all() %}
      {% set link = nav.navLink %}
      <li{% if not loop.last %} class="border-b border-white"{% endif %}><a href="{{ link.url }}"{% if link.target | length %} target="{{ link.target }}"{% endif %} class="block text-white hover:text-apple trans-fast py-4">{{ link.text }}</a></li>
    {% endfor %}
  </ul>
</nav>
