{% set linkUrl = linkUrl ?? false %}
{% set buttonBright = buttonBright ?? false %}
<div class="flex flex-col sm:flex-row items-center">
  <h2 class="my-0 sm:flex-1 text-catalina-blue font-bold text-2xl sm:text-3xl md:text-5xl">{{ headerText }}</h2>
  {% if linkUrl %}<a href="{{ linkUrl }}" class="btn {%if buttonBright %} btn-bright {% endif %} mt-4 sm:mt-0">{{ linkText }} »</a>{% endif %}
</div>
