{% if sitewideAlert.alertShowHide == "show" %}
  <div class="relative bg-apple z-0 text-white text-xl">
    <img src="/assets/img/oaklandroots.svg" class="absolute pin object-fit-cover w-full h-full opacity-3.125" alt="">
    <div class="p-8 container mx-auto">
      <div class="sm:flex content-start items-start">
        <div class="bg-shark-transparent text-base py-3 px-6 mb-8 sm:mb-0 sm:mr-8">{{ sitewideAlert.alertType.label }}</div>
        <div class=" mb-6 sm:mb-0 sm:mr-8 flex-1">
          <p class="text-2xl m-0">{{ sitewideAlert.alertMessage }}</p>
        </div>
        <div class="text-base pt-2">
          <a href="{{ sitewideAlert.alertUrl }}" class="text-white hover:text-white hover:opacity-75 hover:underline">Read More »</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
