{% set alertType = sitewideAlert.alertType.label %}
{% set alertLabel = sitewideAlert.alertLabel %}
{% switch alertType %}
  {% case "Alert" %}
    {% set alertBg = "bg-red-400" %}
  {% case "Warning" %}
    {% set alertBg = "bg-yellow-300" %}
  {% default %}
    {% set alertBg = "bg-green-300" %}
{% endswitch %}

{% if sitewideAlert.alertShowHide == "show" %}
  <div class="relative {{ alertBg }} z-0 text-white">
    <img alt="" class="absolute inset-0 object-cover w-full h-full opacity-3" role="presentation" src="/assets/img/oaklandroots.svg">
    <div class="text-base container py-4 relative z-20">
      <div class="sm:flex content-start items-center">
        <div class="mb-6 sm:mb-0 sm:mr-8 flex-1">
          <p class="m-0 font-bold uppercase">
            {% if alertType != "Information" %}
              {{ alertLabel ?? alertType }}:
            {% endif %}
            {{ sitewideAlert.alertMessage }}</p>
        </div>
        <div>
          <a href="{{ sitewideAlert.alertUrl }}" class="text-white hover:text-white hover:opacity-75 hover:underline">Read More »</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
