<li>
  {% switch phone.type %}
    {% case "other" %}
      <b>{{ phone.numberTitle }}</b>: {{ phone.number }}
    {% default %}
      <b>{{ phone.getType().name }}</b>: {{ phone.number }}
  {% endswitch %}
</li>
