<div class="card-grid-button card-department relative z-0">
  <a href="{{ url }}" class="text-white hover:text-white">
    {% if photo | length %}
      <img src="{{ photo.url }}" alt="" class="object-fit-cover absolute h-full w-full pin">
    {% endif %}
    {{ title }}
  </a>
</div>
