{% set searchSegment = searchSegment ?? '' %}
<div class="bg-cararra">
  <div class="container mx-auto p-8">
    <form action="{{ url('search/' ~ searchSegment) }}">
      <label for="keywords">Search by Keyword</label>
      <div class="flex flex-col sm:flex-row mt-4">
        <input id="search-input" class="flex-1 py-4 px-8 mb-4 sm:mb-0 rounded-none appearance-none" type="search" name="keywords" value="" required>
        <button class="btn" type="submit">Search</button>
      </div>
    </form>
  </div>
</div>
