{% set searchSegment = searchSegment ?? '' %}
<div class="bg-cararra">
  <div class="container">
    <form action="{{ url('search/' ~ searchSegment) }}">
      <label for="keywords">Search by Keyword</label>
      <div class="flex flex-col sm:flex-row mt-4">
        <input class="flex-1 py-4 px-8 mb-4 sm:mb-0 rounded-none appearance-none" name="keywords" required type="search" value="">
        <button class="btn" type="submit">Search</button>
      </div>
    </form>
  </div>
</div>
