{#
  TODO: This `h-40` div is a simple shim to push down the content so the fixed nav doesn't overlap anything. I hope to come back and fix it.
#}
<div class="h-40"></div>
<div class="banner">
  <img class="banner-image opacity-50" src="https://s3-us-west-1.amazonaws.com/beta.oaklandca.gov/Attorney_City-of-Oakland-Landscape-Painting.jpeg" alt="">
  <div class="container mx-auto px-8">
    {% include '_partials/_breadcrumbs' %}
  </div>
  <div class="container mx-auto py-32 p-8">
  </div>
</div>
