{% if sitewideAlert.alertShowHide == "show" and (sitewideAlert.alertExpiration.date ?? '' >= now.date or not sitewideAlert.alertExpiration) %}
  {% switch sitewideAlert.alertType %}
    {% case "warning" %}
      {% set color = "yellow-600" %}
    {% case "alert" %}
      {% set color = "red-500" %}
    {% default %}
      {% set color = "green-300" %}
  {% endswitch %}
  <div class="relative bg-{{ color }} z-0 text-white">
    <img alt="" class="absolute inset-0 object-cover w-full h-full opacity-3" role="presentation" src="/assets/img/oaklandroots.svg">
    <div class="text-sm container py-4 relative z-20">
      <div class="sm:flex content-start items-center">
        <div class="mb-2 sm:mb-0 sm:mr-8 flex-1 md:flex">
          {% if sitewideAlert.alertLabel %}<p class="m-0 sm:mr-2 font-bold uppercase">{{ sitewideAlert.alertLabel }}:</p>{% endif %}<div class="o-override o-2">{{ sitewideAlert.alertMessage }}</div>
        </div>
        {% if sitewideAlert.alertUrl %}
          <div>
            <a href="{{ sitewideAlert.alertUrl.url }}" class="btn btn-sm uppercase bg-white text-xs text-red-600 hover:text-white hover:bg-red-600 hover:no-underline shadow-sm p-1 sm:p-2">Read More »</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
