{% if sitewideAlert.alertShowHide == "show" %}
  <div class="relative bg-{{ sitewideAlert.alertType }} z-0 text-white">
    <img alt="" class="absolute inset-0 object-cover w-full h-full opacity-3" role="presentation" src="/assets/img/oaklandroots.svg">
    <div class="text-base container py-4 relative z-20">
      <div class="sm:flex content-start items-center">
        <div class="mb-6 sm:mb-0 sm:mr-8 flex-1">
          <p class="m-0 font-bold uppercase">{{ sitewideAlert.alertLabel }}: {{ sitewideAlert.alertMessage }}</p>
        </div>
        {% if sitewideAlert.alertUrl %}
          <div>
            <a href="{{ sitewideAlert.alertUrl.url }}" class="text-white hover:text-white hover:opacity-75 hover:underline">Read More »</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
