<a class="h-12 w-12 p-3 text-white bg-gray-700 hover:text-gray-700 hover:bg-white border border-transparent hover:border-gray-700 rounded-full inline-flex fill-current" href="{{ url ?? '' }}" title="{{ network | title }} Page for {{ entry.title }}">
  {{ craft.inlin.er('/assets/img/logo-' ~ network ~ '.svg') | replace('<svg ', '<svg class="h-full w-full" ') | raw }}
</a>
