{% set url = url ?? entry.redirectUrl ?? entry.url ?? '' ?? null %}
{% set title = title ?? entry.title ?? null %}
{% set cardStyle = cardStyle ?? null %}
{% set cardColor = cardColor ?? null %}

<a href="{{ url }}" class="card-grid-button {{ cardStyle }} {{ cardColor }}">{{ title | raw }}</a>
