{% set url = url ?? entry.url ?? null %}
{% set title = title ?? entry.title ?? null %}
{% set cardColor = cardColor ?? null %}

<a href="{{ url }}" class="card-grid-button {{ cardColor }}">{{ title | raw }}</a>
