{% extends '_layout' %}
{% set entry = craft.entries.section('eventsIndex').one %}
{% set relatedEntry = null %}
{% set bannerTitle = entry.title | replace(' Index', '') ~ ' Archive' %}
{% set breadCrumbLinks = [
  {
    title: 'Events',
    link: '/events'
  }
] %}
{% if craft.app.request.getSegment(3) == 'related-to' %}
  {% set relatedEntry = craft.entries.section(section).slug(slug).one %}
  {% set bannerTitle = entry.title | replace(' Index', '') ~ ' Archive for ' ~ relatedEntry.title %}
{% endif %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true,
    bannerTitle: bannerTitle,
    breadCrumbLinks: breadCrumbLinks,
  } %}
  {% include '_partials/_elements/_search-bar' with { searchSegment: "events"} %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      {% set events = craft.calendar.events({
        calendarId: 2,
        rangeEnd: now,
        endsBefore: now,
        relatedTo: relatedEntry,
        order: 'startDate DESC',
        limit: 10
      }) %}
      {% if events | length %}
        <div class="text-right">
          <a href="/{{ craft.app.request.segments | join('/') | replace({'events/archive': 'events'}) }}" class="btn btn-sm px-4">View Upcoming Events</a>
        </div>
      {% endif %}
      {% include '_partials/_page-events-index' %}
    </div>
  </section>
{% endblock %}
